flows_smarthome.json
[{"id":"8bc58de.6c7987","type":"tab","label":"LINK_VAR","disabled":false,"info":""},{"id":"c191220f.dfae2","type":"tab","label":"MySQL Test","disabled":true,"info":""},{"id":"664f6067.c9a87","type":"tab","label":"Xiaomi GW","disabled":false,"info":""},{"id":"d1ee1458.993d88","type":"tab","label":"Energy","disabled":false,"info":""},{"id":"4565fe59.9cdce","type":"tab","label":"EnergyMetter","disabled":false,"info":""},{"id":"7fca8997.78ed68","type":"tab","label":"xiaomy","disabled":false,"info":""},{"id":"fc938117.ce447","type":"tab","label":"KidsRoom_Heater","disabled":false,"info":""},{"id":"4e2c8d9b.9d5c84","type":"tab","label":"LivingRoom_Heater","disabled":false,"info":""},{"id":"13ce9b43.cfce65","type":"tab","label":"Kitchen_Heater","disabled":false,"info":""},{"id":"46162a38.a20e04","type":"tab","label":"Kitchen_Boiler","disabled":false,"info":""},{"id":"5d7e112b.27504","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"ee7c9811.043e18","type":"tab","label":"TestFlow","disabled":true,"info":""},{"id":"ba1574eb.008cc","type":"tab","label":"Logs","disabled":false,"info":""},{"id":"5101c6e3.603738","type":"mqtt-broker","z":"","name":"MQTT local","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b1494c0.e77cf8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"node-red","tz":""},{"id":"5352d2de.b6b6ec","type":"openhab2-controller","z":"","name":"home","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":""},{"id":"82045cc3.201e1","type":"inject","z":"8bc58de.6c7987","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["66713d4f.974e64","a41ef611.c0ce58","474bca53.ca7564","caddeb97.d618d8","d0bd1f0d.77139","43061b79.da4054"]]},{"id":"86c4b9b.3f12c48","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Morning","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":140,"wires":[[]]},{"id":"85deee1f.e799f","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":240,"wires":[[]]},{"id":"89c8a209.6aba4","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Evening","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":340,"wires":[[]]},{"id":"6816acc8.99b734","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":440,"wires":[[]]},{"id":"4fcd815c.d8315","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["7e8b1b0a.590ee4"]]},{"id":"81e30d4c.ee833","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["d268a88.eb65558"]]},{"id":"45f48f18.6ed3d","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":320,"wires":[["3b05b793.926938"]]},{"id":"b797f6e7.489548","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":380,"wires":[["27a3c9f.4286736"]]},{"id":"3b05b793.926938","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Evening","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":340,"wires":[["c1651c9c.2cd23","89c8a209.6aba4"]]},{"id":"c1651c9c.2cd23","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":380,"wires":[["6816acc8.99b734","85deee1f.e799f","86c4b9b.3f12c48"]]},{"id":"7e8b1b0a.590ee4","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Morning","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":200,"wires":[["3051f320.4f04cc","86c4b9b.3f12c48"]]},{"id":"3051f320.4f04cc","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":160,"wires":[["85deee1f.e799f","89c8a209.6aba4","6816acc8.99b734"]]},{"id":"d268a88.eb65558","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Day","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":240,"wires":[["407e10fa.d271a","85deee1f.e799f"]]},{"id":"407e10fa.d271a","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":280,"wires":[["86c4b9b.3f12c48","89c8a209.6aba4","6816acc8.99b734"]]},{"id":"27a3c9f.4286736","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Night","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":440,"wires":[["23bd24c4.4e961c","6816acc8.99b734"]]},{"id":"23bd24c4.4e961c","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":480,"wires":[["89c8a209.6aba4","85deee1f.e799f","86c4b9b.3f12c48"]]},{"id":"5ae4f3cc.5fbf6c","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"holiday","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":760,"wires":[[]]},{"id":"ed5ef2ce.21577","type":"switch","z":"8bc58de.6c7987","name":"","property":"myday","propertyType":"msg","rules":[{"t":"eq","v":"Sat","vt":"str"},{"t":"eq","v":"Sun","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":760,"wires":[["12d6354b.c6091b"],["12d6354b.c6091b"]]},{"id":"12d6354b.c6091b","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":760,"wires":[["5ae4f3cc.5fbf6c","a96506ec.e7e6b8"]]},{"id":"a9377bf2.25c2f8","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"workweek","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":580,"wires":[[]]},{"id":"c945ca47.207a28","type":"switch","z":"8bc58de.6c7987","name":"","property":"myday","propertyType":"msg","rules":[{"t":"eq","v":"Mon","vt":"str"},{"t":"eq","v":"Tue","vt":"str"},{"t":"eq","v":"Wed","vt":"str"},{"t":"eq","v":"Thu","vt":"str"},{"t":"eq","v":"Fri","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":590,"y":580,"wires":[["ffc0353f.65a8c8"],["ffc0353f.65a8c8"],["ffc0353f.65a8c8"],["ffc0353f.65a8c8"],["ffc0353f.65a8c8"]]},{"id":"ffc0353f.65a8c8","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":580,"wires":[["a9377bf2.25c2f8","49388900.31a168"]]},{"id":"49388900.31a168","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"workweek","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":945,"y":620,"wires":[["96154442.453088"]]},{"id":"96154442.453088","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1075,"y":620,"wires":[["5ae4f3cc.5fbf6c"]]},{"id":"a96506ec.e7e6b8","type":"switch","z":"8bc58de.6c7987","name":"","property":"holiday","propertyType":"msg","rules":[{"t":"neq","v":"Evening","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":944,"y":720,"wires":[["aed37523.977cb8"]]},{"id":"aed37523.977cb8","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1074,"y":720,"wires":[["a9377bf2.25c2f8"]]},{"id":"5fdb1cb1.7afdf4","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":720,"wires":[["a1521202.90ff5"]]},{"id":"ff90761d.313db8","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":720,"wires":[["5fdb1cb1.7afdf4"]]},{"id":"a1521202.90ff5","type":"switch","z":"fc938117.ce447","name":"ENABLE_AUTO","property":"KidsRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":983,"y":660,"wires":[[],["3a2130aa.0decc"]]},{"id":"cfd71322.5ad9d","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_auto_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":553,"y":580,"wires":[["a1521202.90ff5","e2762ba5.c3b928"]]},{"id":"3a2130aa.0decc","type":"switch","z":"fc938117.ce447","name":"REGULATOR","property":"KidsRoom_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"KidsRoom_set_Temperature","vt":"flow"},{"t":"lt","v":"KidsRoom_set_Temperature","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":667,"wires":[["a4e18bb4.8fff08"],["b13b6cc4.e9d7d"]]},{"id":"defbbe56.3cd29","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":800,"wires":[["a1521202.90ff5","20985a50.6150f6"]]},{"id":"96cc3dc.63122c","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_set_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":220,"wires":[["516f64f1.38776c"]]},{"id":"77970740.888af8","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Auto_Heater","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":173,"y":580,"wires":[["cfd71322.5ad9d"]]},{"id":"a4e18bb4.8fff08","type":"change","z":"fc938117.ce447","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":580,"wires":[["86883c78.159ed"]]},{"id":"b13b6cc4.e9d7d","type":"change","z":"fc938117.ce447","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":727,"wires":[["86883c78.159ed"]]},{"id":"c57455a1.97fbc8","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"mainrelay1/switch/alisa/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":800,"wires":[["defbbe56.3cd29"]]},{"id":"2d99a4b4.7fb5dc","type":"mqtt out","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Auto_Temperature","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1670,"y":220,"wires":[]},{"id":"86883c78.159ed","type":"switch","z":"fc938117.ce447","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"KidsRoom_Heater","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":660,"wires":[["406c06fc.af5f78"]]},{"id":"1851daee.49d425","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Set_Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":173,"y":80,"wires":[["b5110cce.32c0c"]]},{"id":"447c6467.858eac","type":"mqtt out","z":"fc938117.ce447","name":"","topic":"mainrelay1/switch/alisa/command","qos":"0","retain":"false","broker":"5101c6e3.603738","x":2420,"y":660,"wires":[]},{"id":"979ee997.cf5348","type":"debug","z":"fc938117.ce447","name":"KidsRoom_Heater_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2380,"y":540,"wires":[]},{"id":"b5110cce.32c0c","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_set_Temp","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["a237800f.0dd97"]]},{"id":"1765d355.54aced","type":"change","z":"fc938117.ce447","name":"KidsRoom_set_Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"KidsRoom_set_Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["a237800f.0dd97"]]},{"id":"103d7e1f.241792","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Heater_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":1380,"y":800,"wires":[["86883c78.159ed"]]},{"id":"20985a50.6150f6","type":"mqtt out","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Heater_on","qos":"2","retain":"true","broker":"5101c6e3.603738","x":990,"y":800,"wires":[]},{"id":"e2762ba5.c3b928","type":"switch","z":"fc938117.ce447","name":"DISABLE_AUTO","property":"KidsRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":990,"y":580,"wires":[["a4e18bb4.8fff08"]]},{"id":"1dbb9fbf.8d629","type":"mqtt in","z":"46162a38.a20e04","name":"","topic":"Openhab_VAR/Kitchen/Night_Boiler","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":220,"y":100,"wires":[["b1fe20e4.f0aba"]]},{"id":"f3785e19.77b36","type":"mqtt out","z":"46162a38.a20e04","name":"","topic":"mainrelay1/switch/boiler/command","qos":"0","retain":"false","broker":"5101c6e3.603738","x":1900,"y":220,"wires":[]},{"id":"56e65970.f4f8b8","type":"mqtt in","z":"46162a38.a20e04","name":"","topic":"Openhab_VAR/Kitchen/Boiler_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":420,"wires":[["67c3b062.18f21","42ec1233.cea554"]]},{"id":"a9858818.8e35c8","type":"mqtt in","z":"46162a38.a20e04","name":"","topic":"mainrelay1/switch/boiler/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":540,"wires":[["623661ce.9910c"]]},{"id":"6ecf5123.eb305","type":"mqtt out","z":"46162a38.a20e04","name":"","topic":"Openhab_VAR/Kitchen/Boiler_on","qos":"2","retain":"false","broker":"5101c6e3.603738","x":800,"y":540,"wires":[]},{"id":"1a2ed3bb.aea39c","type":"inject","z":"46162a38.a20e04","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["b79e4f87.48508"]]},{"id":"2c842f03.3d476","type":"change","z":"46162a38.a20e04","name":"AUTO_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":240,"wires":[["dbdc629c.bf472","8dc369c1.7f4d38"]]},{"id":"ef2b3ae8.730498","type":"change","z":"46162a38.a20e04","name":"AUTO_OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":300,"wires":[["dbdc629c.bf472","e769f1ba.1358e"]]},{"id":"b1fe20e4.f0aba","type":"change","z":"46162a38.a20e04","name":"","rules":[{"t":"set","p":"Nigt_Boiler_On","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":200,"wires":[["b79e4f87.48508"]]},{"id":"3535a0d8.8bf59","type":"debug","z":"46162a38.a20e04","name":"ESP_Kitchen_Boiler_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1710,"y":320,"wires":[]},{"id":"623661ce.9910c","type":"change","z":"46162a38.a20e04","name":"","rules":[{"t":"set","p":"Boiler_On","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[["6ecf5123.eb305"]]},{"id":"67c3b062.18f21","type":"change","z":"46162a38.a20e04","name":"","rules":[{"t":"set","p":"Boiler_On_Man","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":340,"wires":[["b79e4f87.48508"]]},{"id":"f270cfef.17c87","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Kitchen/Humidity","qos":"0","retain":"true","broker":"5101c6e3.603738","x":630,"y":80,"wires":[]},{"id":"8e51b038.36b9","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Kitchen/Pressure","qos":"0","retain":"true","broker":"5101c6e3.603738","x":640,"y":112,"wires":[]},{"id":"bc554f0.bc64ab","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Kitchen/Temperature","qos":"0","retain":"true","broker":"5101c6e3.603738","x":650,"y":51,"wires":[]},{"id":"faed58fe.f91078","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/KidsRoom/Temperature","qos":"0","retain":"true","broker":"5101c6e3.603738","x":680,"y":300,"wires":[]},{"id":"a1761aa1.1b6618","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/KidsRoom/Humidity","qos":"0","retain":"true","broker":"5101c6e3.603738","x":660,"y":360,"wires":[]},{"id":"224012f4.94ba7e","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/LivingRoom/Humidity","qos":"0","retain":"true","broker":"5101c6e3.603738","x":690,"y":760,"wires":[]},{"id":"34821509.24e96a","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/LivingRoom/Temperature","qos":"0","retain":"true","broker":"5101c6e3.603738","x":700,"y":700,"wires":[]},{"id":"28e7f498.0aef6c","type":"debug","z":"7fca8997.78ed68","name":"KitchenRoom_HTP1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":20,"wires":[]},{"id":"4aa4a6ae.37ed68","type":"debug","z":"7fca8997.78ed68","name":"KidsRoom_HT1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":180,"wires":[]},{"id":"e5e0170f.6107e8","type":"debug","z":"7fca8997.78ed68","name":"LivingRoom_HT1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":580,"wires":[]},{"id":"7cdfd7a7.b98358","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":240,"wires":[["1765d355.54aced"]]},{"id":"57a78a01.4cf6d4","type":"inject","z":"fc938117.ce447","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["1765d355.54aced"]]},{"id":"8cdbcbe1.1fb1d8","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/KidsRoom_HT1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":240,"wires":[["cb783b0.8aa81c8"]]},{"id":"cb783b0.8aa81c8","type":"function","z":"7fca8997.78ed68","name":"KidsRoom_HT1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":340,"y":240,"wires":[["faed58fe.f91078","4aa4a6ae.37ed68"],["a1761aa1.1b6618","4aa4a6ae.37ed68"],[],["1b449f9e.ec5c3"],["9128efea.182cf"],["7eb8e879.f12428"]]},{"id":"47044f8f.898b9","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/LivingRoom_HT1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":633,"wires":[["7a9fb262.de175c"]]},{"id":"7a9fb262.de175c","type":"function","z":"7fca8997.78ed68","name":"LivingRoom_HT1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":350,"y":633,"wires":[["34821509.24e96a","e5e0170f.6107e8"],["224012f4.94ba7e","e5e0170f.6107e8"],[],["a1c515b.ec308e8"],["27d61437.e34a5c"],["364fcb79.11ac64"]]},{"id":"406c06fc.af5f78","type":"trigger","z":"fc938117.ce447","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1800,"y":700,"wires":[["979ee997.cf5348","447c6467.858eac"]]},{"id":"85ec2b7e.b918e8","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":660,"wires":[["a1521202.90ff5"]]},{"id":"f4907462.2be588","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":420,"wires":[["ddbbf759.b16588"]]},{"id":"ddbbf759.b16588","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_Auto_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":420,"wires":[[]]},{"id":"516f64f1.38776c","type":"switch","z":"fc938117.ce447","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"KidsRoom_Auto_Temperature","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":220,"wires":[["2d99a4b4.7fb5dc","193b2f2c.c6bac1"]]},{"id":"193b2f2c.c6bac1","type":"debug","z":"fc938117.ce447","name":"KidsRoom_Auto_Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1630,"y":160,"wires":[]},{"id":"6e2fbe4d.8973b","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":567,"y":640,"wires":[["5e6ffb4b.e2f604"]]},{"id":"95e08bc6.5261d8","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":177,"y":640,"wires":[["6e2fbe4d.8973b"]]},{"id":"5e6ffb4b.e2f604","type":"switch","z":"13ce9b43.cfce65","name":"ENABLE_AUTO","property":"Kitchen_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":820,"y":580,"wires":[["bc566ddf.9298a"]]},{"id":"1ea7afab.32ce3","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_auto_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["5e6ffb4b.e2f604","e0bfe042.744e7"]]},{"id":"516e6823.facad8","type":"switch","z":"13ce9b43.cfce65","name":"REGULATOR","property":"Kitchen_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"Kitchen_set_Temperature","vt":"flow"},{"t":"lt","v":"Kitchen_set_Temperature","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":1280,"y":580,"wires":[["3f8d3ade.e7e2f6"],["506102f4.d4bfbc"]]},{"id":"ed685545.560218","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":567,"y":720,"wires":[["5e6ffb4b.e2f604","43e7bb72.532ca4"]]},{"id":"456017f3.878938","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_set_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":120,"wires":[["59497236.79d4ac"]]},{"id":"15febd7c.d758f3","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Auto_Heater","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":180,"y":500,"wires":[["1ea7afab.32ce3"]]},{"id":"3f8d3ade.e7e2f6","type":"change","z":"13ce9b43.cfce65","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1447,"y":500,"wires":[["b4850db1.57b5e"]]},{"id":"506102f4.d4bfbc","type":"change","z":"13ce9b43.cfce65","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1447,"y":647,"wires":[["b4850db1.57b5e"]]},{"id":"9a60b5eb.7f1388","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"mainrelay1/switch/kuhnia/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":157,"y":720,"wires":[["ed685545.560218"]]},{"id":"83daa094.330ab","type":"mqtt out","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Auto_Temperature","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1480,"y":120,"wires":[]},{"id":"b4850db1.57b5e","type":"switch","z":"13ce9b43.cfce65","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Kitchen_Heater","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1647,"y":580,"wires":[["2c0d499b.27e566"]]},{"id":"871c5ff1.63ab3","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Set_Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":183,"y":60,"wires":[["f884f161.c225f"]]},{"id":"8388f996.853bf8","type":"mqtt out","z":"13ce9b43.cfce65","name":"","topic":"mainrelay1/switch/kuhnia/command","qos":"0","retain":"true","broker":"5101c6e3.603738","x":2460,"y":480,"wires":[]},{"id":"cbd1799e.bfe9a8","type":"debug","z":"13ce9b43.cfce65","name":"Kitchen_Heater_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2410,"y":580,"wires":[]},{"id":"f884f161.c225f","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_set_Temp","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":60,"wires":[["f110e7c9.06cb68"]]},{"id":"795ef031.977aa","type":"change","z":"13ce9b43.cfce65","name":"Kitchen_set_Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"Kitchen_set_Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["f110e7c9.06cb68"]]},{"id":"8272bcc5.7a50b","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Heater_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":1387,"y":720,"wires":[["b4850db1.57b5e"]]},{"id":"43e7bb72.532ca4","type":"mqtt out","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Heater_on","qos":"2","retain":"true","broker":"5101c6e3.603738","x":997,"y":720,"wires":[]},{"id":"e0bfe042.744e7","type":"switch","z":"13ce9b43.cfce65","name":"DISABLE_AUTO","property":"Kitchen_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1007,"y":500,"wires":[["3f8d3ade.e7e2f6"]]},{"id":"865ad24a.7f57","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":220,"wires":[["795ef031.977aa"]]},{"id":"677e1203.cea89c","type":"inject","z":"13ce9b43.cfce65","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["795ef031.977aa"]]},{"id":"2c0d499b.27e566","type":"trigger","z":"13ce9b43.cfce65","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1817,"y":620,"wires":[["8388f996.853bf8","cbd1799e.bfe9a8"]]},{"id":"bc4377ee.a3d008","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":197,"y":580,"wires":[["5e6ffb4b.e2f604"]]},{"id":"1d0b371b.6d7789","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":180,"y":320,"wires":[["5eabec00.694b64"]]},{"id":"5eabec00.694b64","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_Auto_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[[]]},{"id":"59497236.79d4ac","type":"switch","z":"13ce9b43.cfce65","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Kitchen_Auto_Temperature","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":120,"wires":[["83daa094.330ab","ccd8cb96.a7caa8"]]},{"id":"ccd8cb96.a7caa8","type":"debug","z":"13ce9b43.cfce65","name":"Kitchen_Auto_Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1440,"y":60,"wires":[]},{"id":"dbdc629c.bf472","type":"switch","z":"46162a38.a20e04","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Boiler_On","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":300,"wires":[["97170100.90307"]]},{"id":"97170100.90307","type":"trigger","z":"46162a38.a20e04","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1340,"y":300,"wires":[["3535a0d8.8bf59","f3785e19.77b36"]]},{"id":"148320b1.7c47af","type":"switch","z":"46162a38.a20e04","name":"","property":"Boiler_On_Man","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":300,"wires":[["ef2b3ae8.730498"],["2ab31d53.244732"]]},{"id":"2ab31d53.244732","type":"change","z":"46162a38.a20e04","name":"MAN_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":360,"wires":[["dbdc629c.bf472"]]},{"id":"bf85e503.ac09f8","type":"switch","z":"46162a38.a20e04","name":"","property":"Nigt_Boiler_On","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":240,"wires":[["2c842f03.3d476"]]},{"id":"6b118dfc.e36ca4","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_set_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":240,"wires":[["ef4dd863.2cd038","494dc2cc.1fd5ac"]]},{"id":"d5d5a002.ad6fb","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Temperature","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1600,"y":240,"wires":[]},{"id":"4af26d3f.022c94","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Set_Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":213,"y":100,"wires":[["638fffe4.824b2"]]},{"id":"638fffe4.824b2","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_set_Temp","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["595f393e.e503d8"]]},{"id":"93994576.35ecc8","type":"change","z":"4e2c8d9b.9d5c84","name":"LivingRoom_set_Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"LivingRoom_set_Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":260,"wires":[["595f393e.e503d8"]]},{"id":"80056ae0.a74b48","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":240,"wires":[["93994576.35ecc8"]]},{"id":"5410fe8f.c5a0e","type":"inject","z":"4e2c8d9b.9d5c84","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["93994576.35ecc8"]]},{"id":"4a8ecd3d.ebd7c4","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":440,"wires":[["944d7516.124678"]]},{"id":"944d7516.124678","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Auto_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":380,"wires":[[]]},{"id":"ef4dd863.2cd038","type":"switch","z":"4e2c8d9b.9d5c84","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"LivingRoom_Auto_Temperature","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":240,"wires":[["45325e7d.206b","d5d5a002.ad6fb"]]},{"id":"45325e7d.206b","type":"debug","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Auto_Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1490,"y":180,"wires":[]},{"id":"cde2bf72.4f39c","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_set_Temperature2","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":320,"wires":[[]]},{"id":"105fd1d9.b62b8e","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["27e0ee80.90db32"]]},{"id":"8636dac.b478428","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":202,"y":783,"wires":[["105fd1d9.b62b8e"]]},{"id":"27e0ee80.90db32","type":"switch","z":"4e2c8d9b.9d5c84","name":"ENABLE_AUTO","property":"LivingRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":820,"y":720,"wires":[["3acf20a2.14476"]]},{"id":"a5103d15.8241d","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_auto_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":583,"y":640,"wires":[["27e0ee80.90db32","79c45c39.9e69e4"]]},{"id":"b0fdac64.697f","type":"switch","z":"4e2c8d9b.9d5c84","name":"REGULATOR","property":"LivingRoom_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"LivingRoom_set_Temperature","vt":"flow"},{"t":"lt","v":"LivingRoom_set_Temperature","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":1290,"y":720,"wires":[["52a6b7c2.93fc28"],["918d134b.84982"]]},{"id":"d4f51382.5c1b4","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Heater1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[["27e0ee80.90db32","d20037b2.eb1138"]]},{"id":"66a0ac05.e9a2f4","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Heater","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":205,"y":641,"wires":[["a5103d15.8241d"]]},{"id":"52a6b7c2.93fc28","type":"change","z":"4e2c8d9b.9d5c84","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":640,"wires":[["17d070ea.64a01f"]]},{"id":"918d134b.84982","type":"change","z":"4e2c8d9b.9d5c84","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":787,"wires":[["17d070ea.64a01f"]]},{"id":"f2e36a63.9e7b48","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"mainrelay1/switch/zal_1/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":160,"y":860,"wires":[["d4f51382.5c1b4"]]},{"id":"17d070ea.64a01f","type":"switch","z":"4e2c8d9b.9d5c84","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"LivingRoom_Heater1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":720,"wires":[["b93f0f28.e10fa8"]]},{"id":"bc16f4b2.8f2248","type":"debug","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Heater1_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2290,"y":800,"wires":[]},{"id":"b7484e39.65f7","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Heater1_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":1410,"y":860,"wires":[["17d070ea.64a01f"]]},{"id":"d20037b2.eb1138","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Heater1_on","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1020,"y":860,"wires":[]},{"id":"79c45c39.9e69e4","type":"switch","z":"4e2c8d9b.9d5c84","name":"DISABLE_AUTO","property":"LivingRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1010,"y":640,"wires":[["52a6b7c2.93fc28"]]},{"id":"f6939fd2.79e3d","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":223,"y":720,"wires":[["27e0ee80.90db32"]]},{"id":"12872305.e37eed","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"mainrelay1/switch/zal_1/command","qos":"0","retain":"false","broker":"5101c6e3.603738","x":2320,"y":620,"wires":[]},{"id":"e968e41b.0eec98","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Heater2_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":1407,"y":1420,"wires":[["44ca3b7f.063914"]]},{"id":"44ca3b7f.063914","type":"switch","z":"4e2c8d9b.9d5c84","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"LivingRoom_Heater2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1670,"y":1280,"wires":[["1efd60ba.aebc9f","1b67f7d3.7b65e8"]]},{"id":"e7388c95.4cd1d","type":"change","z":"4e2c8d9b.9d5c84","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1447,"y":1200,"wires":[["44ca3b7f.063914"]]},{"id":"491ef9d6.8f20f8","type":"change","z":"4e2c8d9b.9d5c84","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1447,"y":1347,"wires":[["44ca3b7f.063914"]]},{"id":"ab508342.e5402","type":"switch","z":"4e2c8d9b.9d5c84","name":"REGULATOR","property":"LivingRoom_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"LivingRoom_set_Temperature","vt":"flow"},{"t":"lt","v":"LivingRoom_set_Temperature","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":1290,"y":1280,"wires":[["e7388c95.4cd1d"],["491ef9d6.8f20f8"]]},{"id":"597c6b62.fbdb84","type":"switch","z":"4e2c8d9b.9d5c84","name":"DISABLE_AUTO","property":"LivingRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1007,"y":1200,"wires":[["e7388c95.4cd1d"]]},{"id":"1b67f7d3.7b65e8","type":"debug","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Heater2_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2130,"y":1360,"wires":[]},{"id":"1efd60ba.aebc9f","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"mainrelay1/switch/zal_2/command","qos":"0","retain":"false","broker":"5101c6e3.603738","x":2160,"y":1220,"wires":[]},{"id":"13282a2e.5256e6","type":"switch","z":"4e2c8d9b.9d5c84","name":"ENABLE_AUTO","property":"LivingRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":840,"y":1280,"wires":[["45c530db.2289b"]]},{"id":"8d9e7501.08d478","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_auto_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1200,"wires":[["13282a2e.5256e6","597c6b62.fbdb84"]]},{"id":"2caacd65.0d0f92","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":577,"y":1340,"wires":[["13282a2e.5256e6"]]},{"id":"9654286f.2b2d08","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Heater2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":577,"y":1420,"wires":[["13282a2e.5256e6","4d1b1c9b.6c01b4"]]},{"id":"c763f4fb.733558","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":1274,"wires":[["13282a2e.5256e6"]]},{"id":"e24a4967.193068","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Heater","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":200,"y":1200,"wires":[["8d9e7501.08d478"]]},{"id":"e20ddb8e.66db98","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":197,"y":1340,"wires":[["2caacd65.0d0f92"]]},{"id":"4d1b1c9b.6c01b4","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Heater2_on","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1017,"y":1420,"wires":[]},{"id":"d46a6af7.258a88","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"mainrelay1/switch/zal_2/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":159,"y":1420,"wires":[["9654286f.2b2d08"]]},{"id":"77be7bde.26c3f4","type":"function","z":"7fca8997.78ed68","name":"KitchenRoom_HTP1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\n\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":340,"y":80,"wires":[["bc554f0.bc64ab","28e7f498.0aef6c"],["f270cfef.17c87","28e7f498.0aef6c"],["8e51b038.36b9","28e7f498.0aef6c"],["e8f0ea6c.4cfaa8"],["aaffcdb2.95bc7"],["9b2f402e.66f76"]]},{"id":"466683cc.1f1f9c","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/Kitchen_HTP1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":110,"y":80,"wires":[["77be7bde.26c3f4"]]},{"id":"f77887e.4f59978","type":"function","z":"7fca8997.78ed68","name":"LivingRoom_CS1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar contact = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\nif (data.contact) {\n    contact = {\"payload\": \"CLOSED\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"CLOSED\"}); \n}\nelse\n{\n    contact = {\"payload\": \"OPEN\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"OPEN\"}); \n}\n\nnode.send([ voltage, linkquality,battery,contact]);\n","outputs":4,"noerr":0,"x":350,"y":1260,"wires":[["513f0ab9.5860a4"],["8103f53e.00a3b8"],["4efc23aa.590c9c"],["57e37acc.c2bdc4","ed2d1744.3fc838"]]},{"id":"3e99baef.d291e6","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/LivingRoom_CS1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":1260,"wires":[["f77887e.4f59978"]]},{"id":"57e37acc.c2bdc4","type":"debug","z":"7fca8997.78ed68","name":"LivingRoom_CS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":1220,"wires":[]},{"id":"4b1efc45.7cf294","type":"inject","z":"7fca8997.78ed68","name":"CLOSED","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":true}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1320,"wires":[["f77887e.4f59978"]]},{"id":"425b632.ac57e9c","type":"inject","z":"7fca8997.78ed68","name":"OPEN","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1360,"wires":[["f77887e.4f59978"]]},{"id":"ed2d1744.3fc838","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/LivingRoom/Window1","qos":"0","retain":"true","broker":"5101c6e3.603738","x":610,"y":1280,"wires":[]},{"id":"13f481f6.e4b3ee","type":"function","z":"7fca8997.78ed68","name":"KitchenRoom_CS1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar contact = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\nif (data.contact) {\n    contact = {\"payload\": \"CLOSED\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"CLOSED\"}); \n}\nelse\n{\n    contact = {\"payload\": \"OPEN\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"OPEN\"}); \n}\n\nnode.send([ voltage, linkquality,battery,contact]);\n","outputs":4,"noerr":0,"x":330,"y":1080,"wires":[["d9bf8aa3.287bb8"],["4397e06c.3d95c"],["afe8c704.954038"],["e752c316.6fd8c","57fc3b9e.eeaf74"]]},{"id":"7f8de103.2883d","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/Kitchen_CS1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":110,"y":1080,"wires":[["13f481f6.e4b3ee"]]},{"id":"e752c316.6fd8c","type":"debug","z":"7fca8997.78ed68","name":"KitchenRoom_CS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":1047,"wires":[]},{"id":"57fc3b9e.eeaf74","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Kitchen/Window","qos":"0","retain":"true","broker":"5101c6e3.603738","x":610,"y":1100,"wires":[]},{"id":"c3ebee07.9f7e","type":"inject","z":"7fca8997.78ed68","name":"CLOSED","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":true}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1140,"wires":[["13f481f6.e4b3ee"]]},{"id":"1b550f06.df9bd1","type":"inject","z":"7fca8997.78ed68","name":"OPEN","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1180,"wires":[["13f481f6.e4b3ee"]]},{"id":"a23bb6f5.683b98","type":"debug","z":"664f6067.c9a87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":60,"wires":[]},{"id":"6ef00baf.ceed74","type":"switch","z":"664f6067.c9a87","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"neq","v":"heartbeat","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":60,"wires":[["a23bb6f5.683b98"]]},{"id":"dfd4c626.5e6538","type":"json","z":"664f6067.c9a87","name":"","property":"payload","action":"","pretty":false,"x":270,"y":60,"wires":[["6ef00baf.ceed74","4c880342.a6049c"]]},{"id":"33a5f505.cf1a5a","type":"udp in","z":"664f6067.c9a87","name":"","iface":"","port":"9898","ipv":"udp4","multicast":"true","group":"224.0.0.50","datatype":"utf8","x":90,"y":60,"wires":[["dfd4c626.5e6538","6e493ef0.a1ec6"]]},{"id":"4c880342.a6049c","type":"function","z":"664f6067.c9a87","name":"Generate-key GW","func":"var crypto = global.get('cryptoModule');\n// ,   ,          \nvar iv = Buffer.from([0x17, 0x99, 0x6d, 0x09, 0x3d, 0x28, 0xdd, 0xb3, 0xba, 0x69, 0x5a, 0x2e, 0x6f, 0x58, 0x56, 0x2e]);\nvar payload = msg.payload;\nvar newmsg = null;\nif  ((payload.cmd) && (payload.cmd==\"heartbeat\") &&\n(payload.model) && (payload.model==\"gateway\") &&\n(payload.sid) && (payload.sid == \"04cf8ca08a07\") &&\n(payload.data))\n{\nvar data = JSON.parse(payload.data);\nif ((data.ip==\"192.168.1.60\") && (payload.token))\n{\n       var lastToken = payload.token; //  ,   \n       var password = '7612bblur50mxeo9'; //        ,      \n       var cipher = crypto.createCipheriv('aes-128-cbc', password, iv); //   cipher\n       var key = cipher.update(lastToken, \"ascii\", \"hex\"); //  \n       cipher.final('hex'); //   hex\n       flow.set(\"xiaomikey\",key); //     xiaomikey,    -  flow.\n       newmsg = {payload: key};\n       return newmsg;\n}\n}","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["b2e19f9b.e5cb1"]]},{"id":"b2e19f9b.e5cb1","type":"debug","z":"664f6067.c9a87","name":"Key","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"a4a0b0b5.ee063","type":"function","z":"664f6067.c9a87","name":"","func":"var key = flow.get('xiaomikey')||''; //   xiaomikey\n//  JSON,    \"key\"\nmsg.payload = '{\"cmd\":\"write\",\"model\":\"gateway\",\"sid\":\"04cf8ca08a07\",\"data\":\"{\\\\\"key\\\\\":\\\\\"' + key + '\\\\\",\\\\\"rgb\\\\\":1594433294,\\\\\"illumination\\\\\":523}\"}';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["cbe01533.59ba18","fece8a12.2b8798"]]},{"id":"6e493ef0.a1ec6","type":"debug","z":"664f6067.c9a87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":200,"wires":[]},{"id":"3c3bcfee.680db","type":"inject","z":"664f6067.c9a87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["a4a0b0b5.ee063"]]},{"id":"cbe01533.59ba18","type":"debug","z":"664f6067.c9a87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":300,"wires":[]},{"id":"fece8a12.2b8798","type":"udp out","z":"664f6067.c9a87","name":"","addr":"192.168.1.60","iface":"","port":"9898","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":610,"y":420,"wires":[]},{"id":"6a9e10bf.f68c5","type":"function","z":"664f6067.c9a87","name":"","func":"var key = flow.get('xiaomikey')||''; //   xiaomikey\n//  JSON,    \"key\"\nmsg.payload = '{\"cmd\":\"write\",\"model\":\"gateway\",\"sid\":\"04cf8ca08a07\",\"data\":\"{\\\\\"key\\\\\":\\\\\"' + key + '\\\\\",\\\\\"rgb\\\\\":0,\\\\\"illumination\\\\\":523}\"}';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["fece8a12.2b8798"]]},{"id":"327c0b4d.273b94","type":"inject","z":"664f6067.c9a87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["6a9e10bf.f68c5"]]},{"id":"8e53dbad.d58468","type":"function","z":"664f6067.c9a87","name":"","func":"var key = flow.get('xiaomikey')||''; //   xiaomikey\n//  JSON,    \"key\"\nmsg.payload = '{\"cmd\":\"write\",\"model\":\"gateway\",\"sid\":\"04cf8ca08a07\",\"data\":\"{\\\\\"key\\\\\":\\\\\"' + key + '\\\\\",\\\\\"mid\\\\\":1001,\\\\\"volume\\\\\":20}\"}';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":520,"wires":[["fece8a12.2b8798"]]},{"id":"3972770b.828138","type":"inject","z":"664f6067.c9a87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["8e53dbad.d58468"]]},{"id":"8ad6627c.64542","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Window","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":440,"wires":[["a2b80c22.95c93"]]},{"id":"a2b80c22.95c93","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_Window","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[["f1493fb2.5d42a","5e6ffb4b.e2f604"]]},{"id":"f1493fb2.5d42a","type":"switch","z":"13ce9b43.cfce65","name":"Kitchen_Window_OPEN","property":"Kitchen_Window","propertyType":"flow","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":440,"wires":[["3f8d3ade.e7e2f6"]]},{"id":"bc566ddf.9298a","type":"switch","z":"13ce9b43.cfce65","name":"Kitchen_Window_CLOSED","property":"Kitchen_Window","propertyType":"flow","rules":[{"t":"eq","v":"CLOSED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":580,"wires":[["516e6823.facad8"]]},{"id":"7c39b862.d15f98","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Window1","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":560,"wires":[["a4581cc8.cafa9"]]},{"id":"a4581cc8.cafa9","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Window1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":560,"wires":[["ce30822c.d464b","27e0ee80.90db32"]]},{"id":"ce30822c.d464b","type":"switch","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Window_OPEN","property":"LivingRoom_Window1","propertyType":"flow","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":560,"wires":[["52a6b7c2.93fc28"]]},{"id":"3acf20a2.14476","type":"switch","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Window_CLOSED","property":"LivingRoom_Window1","propertyType":"flow","rules":[{"t":"eq","v":"CLOSED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":720,"wires":[["b0fdac64.697f"]]},{"id":"f8600219.4755c","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Window1","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":193,"y":1135,"wires":[["e11a2647.89b0f8"]]},{"id":"e11a2647.89b0f8","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Window1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":573,"y":1135,"wires":[["c9eb25a1.582fc8","13282a2e.5256e6"]]},{"id":"c9eb25a1.582fc8","type":"switch","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Window_OPEN","property":"LivingRoom_Window1","propertyType":"flow","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1003,"y":1135,"wires":[["e7388c95.4cd1d"]]},{"id":"45c530db.2289b","type":"switch","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Window_CLOSED","property":"LivingRoom_Window1","propertyType":"flow","rules":[{"t":"eq","v":"CLOSED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":1280,"wires":[["ab508342.e5402"]]},{"id":"9b2f402e.66f76","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_HTP1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":140,"wires":[]},{"id":"e8f0ea6c.4cfaa8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_HTP1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":60,"wires":[]},{"id":"aaffcdb2.95bc7","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_HTP1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1030,"y":100,"wires":[]},{"id":"7eb8e879.f12428","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":280,"wires":[]},{"id":"1b449f9e.ec5c3","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":200,"wires":[]},{"id":"9128efea.182cf","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1000,"y":240,"wires":[]},{"id":"364fcb79.11ac64","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_HT1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":673,"wires":[]},{"id":"a1c515b.ec308e8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_HT1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1000,"y":593,"wires":[]},{"id":"27d61437.e34a5c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_HT1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1000,"y":633,"wires":[]},{"id":"afe8c704.954038","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_CS1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1120,"wires":[]},{"id":"d9bf8aa3.287bb8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_CS1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1040,"wires":[]},{"id":"4397e06c.3d95c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_CS1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":970,"y":1080,"wires":[]},{"id":"4efc23aa.590c9c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_CS1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":950,"y":1300,"wires":[]},{"id":"513f0ab9.5860a4","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_CS1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1220,"wires":[]},{"id":"8103f53e.00a3b8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_CS1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1260,"wires":[]},{"id":"38d6dbd2.9bc1f4","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/KidsRoom_HT2","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":400,"wires":[["c240f4f7.68ccf8"]]},{"id":"c240f4f7.68ccf8","type":"function","z":"7fca8997.78ed68","name":"KidsRoom_HT2","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":340,"y":400,"wires":[["7915d107.8df0e","faed58fe.f91078"],["7915d107.8df0e","a1761aa1.1b6618"],[],["3b073107.234e6e"],["8e4f40e9.5ce4d"],["c13d96f5.109fc8"]]},{"id":"7915d107.8df0e","type":"debug","z":"7fca8997.78ed68","name":"KidsRoom_HT2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":320,"wires":[]},{"id":"c13d96f5.109fc8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT2/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":440,"wires":[]},{"id":"3b073107.234e6e","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT2/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":360,"wires":[]},{"id":"8e4f40e9.5ce4d","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT2/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1000,"y":400,"wires":[]},{"id":"453ea9e1.a7c668","type":"function","z":"7fca8997.78ed68","name":"Server_HT1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":330,"y":1700,"wires":[["25ff2c29.f0e8f4","efeb8522.1d9ce8"],["25ff2c29.f0e8f4","e1bc4f5c.67523"],[],["2bd038f5.9fdaa8"],["c56ec596.be3dd8"],["a82b128d.8305f"]]},{"id":"744ae97f.0280c8","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/Server_HT1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":110,"y":1700,"wires":[["453ea9e1.a7c668"]]},{"id":"25ff2c29.f0e8f4","type":"debug","z":"7fca8997.78ed68","name":"Server_HT1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":1620,"wires":[]},{"id":"2bd038f5.9fdaa8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/Srv_HT/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":970,"y":1660,"wires":[]},{"id":"c56ec596.be3dd8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/Srv_HT/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":970,"y":1700,"wires":[]},{"id":"a82b128d.8305f","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/Srv_HT/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1740,"wires":[]},{"id":"8dc369c1.7f4d38","type":"debug","z":"46162a38.a20e04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":180,"wires":[]},{"id":"66713d4f.974e64","type":"time-switch","z":"8bc58de.6c7987","name":"","lat":"","lon":"","startTime":"05:00","endTime":"7:30","startOffset":0,"endOffset":"0","x":390,"y":180,"wires":[["4fcd815c.d8315"],[]]},{"id":"caddeb97.d618d8","type":"time-switch","z":"8bc58de.6c7987","name":"","lat":"","lon":"","startTime":"7:30","endTime":"16:00","startOffset":0,"endOffset":"0","x":370,"y":260,"wires":[["81e30d4c.ee833"],[]]},{"id":"a41ef611.c0ce58","type":"time-switch","z":"8bc58de.6c7987","name":"","lat":"","lon":"","startTime":"16:00","endTime":"22:30","startOffset":0,"endOffset":"0","x":370,"y":320,"wires":[["45f48f18.6ed3d"],[]]},{"id":"474bca53.ca7564","type":"time-switch","z":"8bc58de.6c7987","name":"","lat":"","lon":"","startTime":"22:30","endTime":"05:00","startOffset":0,"endOffset":"0","x":370,"y":380,"wires":[["b797f6e7.489548"],[]]},{"id":"b79e4f87.48508","type":"time-switch","z":"46162a38.a20e04","name":"","lat":"","lon":"","startTime":"00:00","endTime":"6:00","startOffset":0,"endOffset":"0","x":510,"y":260,"wires":[["bf85e503.ac09f8"],["148320b1.7c47af"]]},{"id":"d0bd1f0d.77139","type":"simpletime","z":"8bc58de.6c7987","name":"","x":410,"y":760,"wires":[["ed5ef2ce.21577"]]},{"id":"43061b79.da4054","type":"simpletime","z":"8bc58de.6c7987","name":"","x":410,"y":580,"wires":[["c945ca47.207a28"]]},{"id":"e769f1ba.1358e","type":"debug","z":"46162a38.a20e04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":420,"wires":[]},{"id":"aec3649d.bea318","type":"function","z":"7fca8997.78ed68","name":"MainDoor_CS1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar contact = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\nif (data.contact) {\n    contact = {\"payload\": \"CLOSED\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"CLOSED\"}); \n}\nelse\n{\n    contact = {\"payload\": \"OPEN\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"OPEN\"}); \n}\n\nnode.send([ voltage, linkquality,battery,contact]);\n","outputs":4,"noerr":0,"x":340,"y":1460,"wires":[["77f584ac.12cc5c"],["9054be77.839dc"],["dc28966f.5ea118"],["56690740.173a88","fe18631f.6169e"]]},{"id":"671cd69b.9e6bb8","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/MainDoor_CS1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":1460,"wires":[["aec3649d.bea318"]]},{"id":"56690740.173a88","type":"debug","z":"7fca8997.78ed68","name":"MainDoor_CS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":1420,"wires":[]},{"id":"641a7eab.7b54c","type":"inject","z":"7fca8997.78ed68","name":"CLOSED","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":true}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1520,"wires":[["aec3649d.bea318"]]},{"id":"15ade450.a75c0c","type":"inject","z":"7fca8997.78ed68","name":"OPEN","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1560,"wires":[["aec3649d.bea318"]]},{"id":"fe18631f.6169e","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/Main_Door","qos":"0","retain":"true","broker":"5101c6e3.603738","x":600,"y":1480,"wires":[]},{"id":"dc28966f.5ea118","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_CS1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":950,"y":1500,"wires":[]},{"id":"77f584ac.12cc5c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_CS1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":950,"y":1420,"wires":[]},{"id":"9054be77.839dc","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_CS1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1460,"wires":[]},{"id":"e1bc4f5c.67523","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/Humidity_srv","qos":"0","retain":"true","broker":"5101c6e3.603738","x":640,"y":1640,"wires":[]},{"id":"efeb8522.1d9ce8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/Temperature_srv","qos":"0","retain":"true","broker":"5101c6e3.603738","x":660,"y":1580,"wires":[]},{"id":"a237800f.0dd97","type":"function","z":"fc938117.ce447","name":"- T_Kof","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":220,"wires":[["96cc3dc.63122c"]]},{"id":"22fbde54.9d61f2","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/Home/T_Kof","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":340,"wires":[["1765d355.54aced"]]},{"id":"595f393e.e503d8","type":"function","z":"4e2c8d9b.9d5c84","name":"- T_Kof","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["6b118dfc.e36ca4"]]},{"id":"a7ae56b.949cfa8","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/Home/T_Kof","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":300,"wires":[["93994576.35ecc8"]]},{"id":"adbc52f2.0f373","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Home/T_Kof","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":280,"wires":[["795ef031.977aa"]]},{"id":"f110e7c9.06cb68","type":"function","z":"13ce9b43.cfce65","name":"- T_Kof","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["456017f3.878938"]]},{"id":"94532cb7.1f3ff","type":"switch","z":"8bc58de.6c7987","name":"Evening","property":"Evening","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":834,"wires":[["bdf451ff.b6b9c"]]},{"id":"c96882f.8f2788","type":"switch","z":"8bc58de.6c7987","name":"Night","property":"Night","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":954,"wires":[["8d3dc7df.3cda78"]]},{"id":"4024eac9.632e94","type":"switch","z":"8bc58de.6c7987","name":"Morning","property":"Morning","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":563,"y":874,"wires":[["bdf451ff.b6b9c"]]},{"id":"300284fa.317e1c","type":"switch","z":"8bc58de.6c7987","name":"Day","property":"Day","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":553,"y":914,"wires":[["8d3dc7df.3cda78"]]},{"id":"8b32fb0b.e38548","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Home_Alarm_ON","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":40,"wires":[[]]},{"id":"3e92ef17.1042","type":"mqtt in","z":"8bc58de.6c7987","name":"","topic":"Openhab_VAR/Home/Home_Alarm","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":180,"y":40,"wires":[["8b32fb0b.e38548"]]},{"id":"5cca15d3.77ec0c","type":"inject","z":"8bc58de.6c7987","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1060,"wires":[["eac36686.68e148"]]},{"id":"8d3dc7df.3cda78","type":"change","z":"8bc58de.6c7987","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"T_Kof_set","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1100,"wires":[["124fa4c2.7e092b"]]},{"id":"cf73e03d.3941f","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"T_Kof","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1000,"wires":[["6d3cabd1.270e4c"]]},{"id":"bdf451ff.b6b9c","type":"change","z":"8bc58de.6c7987","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1040,"wires":[["124fa4c2.7e092b"]]},{"id":"124fa4c2.7e092b","type":"switch","z":"8bc58de.6c7987","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"T_Kof","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":1000,"wires":[["cf73e03d.3941f"]]},{"id":"d72254f1.5cc9c8","type":"mqtt in","z":"8bc58de.6c7987","name":"","topic":"Openhab_VAR/Home/T_Kof","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":160,"y":840,"wires":[["9b00eebd.3ff72"]]},{"id":"9b00eebd.3ff72","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"T_Kof_set","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":920,"wires":[["eac36686.68e148"]]},{"id":"494dc2cc.1fd5ac","type":"function","z":"4e2c8d9b.9d5c84","name":"- T_Kof","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":320,"wires":[["dd8bf8e.3ce4308"]]},{"id":"dd8bf8e.3ce4308","type":"switch","z":"4e2c8d9b.9d5c84","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"LivingRoom_set_Temperature2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":320,"wires":[["cde2bf72.4f39c","24ee5804.cd7958"]]},{"id":"24ee5804.cd7958","type":"debug","z":"4e2c8d9b.9d5c84","name":"LivingRoom_set_Temperature2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":400,"wires":[]},{"id":"5a238adc.cbff14","type":"mqtt in","z":"8bc58de.6c7987","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":1200,"wires":[["720d76f0.34f598"]]},{"id":"eac36686.68e148","type":"switch","z":"8bc58de.6c7987","name":"  ","property":"Home_Rejim","propertyType":"global","rules":[{"t":"eq","v":"2.000000","vt":"str"},{"t":"eq","v":"1.000000","vt":"str"},{"t":"eq","v":"3.000000","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":310,"y":1060,"wires":[["c55af9b3.43d948","bc6c9955.deb2d8"],["8d3dc7df.3cda78"],["4024eac9.632e94","300284fa.317e1c","94532cb7.1f3ff","c96882f.8f2788"]]},{"id":"720d76f0.34f598","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Home_Rejim","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1200,"wires":[["eac36686.68e148","c32e2f5c.46c01"]]},{"id":"1b72ec44.2bd1d4","type":"function","z":"7fca8997.78ed68","name":"MainDoor_Switch","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar click = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\n\n\nif (data.click == \"single\") {\n    click = {\"payload\": \"single\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"single\"}); \n}\nif (data.click == \"double\") {\n    click = {\"payload\": \"double\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"double\"}); \n}\nif (data.click == \"long_release\") {\n    click = {\"payload\": \"long\"};\n    node.status({fill:\"blue\",shape:\"dot\",text:\"long\"}); \n}\n\n\n\n\nnode.send([ voltage, linkquality,battery,click]);\n","outputs":4,"noerr":0,"x":410,"y":1960,"wires":[["f84ec089.bf896"],["7345356f.821f0c"],["3c7125e4.57b88a"],["80e4573e.969088","73e144ec.dd234c","e69f27ca.3b18e8"]]},{"id":"634550b3.2ce77","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/MainDoor_Switch","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":1920,"wires":[["1b72ec44.2bd1d4","206657cd.403fb8"]]},{"id":"80e4573e.969088","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/MainDoor_Switch","qos":"0","retain":"true","broker":"5101c6e3.603738","x":740,"y":2080,"wires":[]},{"id":"3c7125e4.57b88a","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_Switch/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1010,"y":2000,"wires":[]},{"id":"f84ec089.bf896","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_Switch/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":1920,"wires":[]},{"id":"7345356f.821f0c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_Switch/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":1960,"wires":[]},{"id":"73e144ec.dd234c","type":"debug","z":"7fca8997.78ed68","name":"MainDoor_Switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":2120,"wires":[]},{"id":"206657cd.403fb8","type":"debug","z":"7fca8997.78ed68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":1860,"wires":[]},{"id":"e69f27ca.3b18e8","type":"switch","z":"7fca8997.78ed68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":490,"y":2220,"wires":[["a59ade5d.87db5"],["20c9c84d.d63378"],["a3286bc0.b83f88"]]},{"id":"a59ade5d.87db5","type":"change","z":"7fca8997.78ed68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2180,"wires":[["d16b8d42.a2cfc"]]},{"id":"a3286bc0.b83f88","type":"change","z":"7fca8997.78ed68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2280,"wires":[["d16b8d42.a2cfc"]]},{"id":"20c9c84d.d63378","type":"change","z":"7fca8997.78ed68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2220,"wires":[["d16b8d42.a2cfc"]]},{"id":"d16b8d42.a2cfc","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"1","retain":"true","broker":"5101c6e3.603738","x":990,"y":2220,"wires":[]},{"id":"a7176ca2.a2fd1","type":"http request","z":"d1ee1458.993d88","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.5/modbus&write=0242","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":80,"wires":[["b3bd753f.80cf28"]]},{"id":"8bc7fbed.3d8608","type":"inject","z":"d1ee1458.993d88","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["349f5231.6b070e"]]},{"id":"349f5231.6b070e","type":"http request","z":"d1ee1458.993d88","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.5/modbus&write=0142","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":40,"wires":[["b3bd753f.80cf28"]]},{"id":"18b87750.a849e9","type":"http request","z":"d1ee1458.993d88","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.5/modbus&write=0342","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":120,"wires":[["b3bd753f.80cf28"]]},{"id":"b3bd753f.80cf28","type":"debug","z":"d1ee1458.993d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":80,"wires":[]},{"id":"720249b2.9c3a88","type":"inject","z":"d1ee1458.993d88","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["a7176ca2.a2fd1"]]},{"id":"a3a45ec4.9260b","type":"inject","z":"d1ee1458.993d88","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["18b87750.a849e9"]]},{"id":"60b1b720.284578","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"PhaseA_PowerMeter","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":160,"wires":[["66a72095.cd1e5"]]},{"id":"4c8f633d.756d9c","type":"mqtt in","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PhaseA/PowerMeter","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":160,"wires":[["60b1b720.284578"]]},{"id":"66a72095.cd1e5","type":"function","z":"4565fe59.9cdce","name":"","func":"\n\nvar A=flow.get('PhaseA_PowerMeter')\nvar B=flow.get('PhaseB_PowerMeter')\nvar C=flow.get('PhaseC_PowerMeter')\nmsg.topic  = 'PowerMeter';\nmsg.payload = A+B+C;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;\n\n","outputs":1,"noerr":0,"x":810,"y":80,"wires":[["ed0ac8c4.fe71d8"]]},{"id":"e3994793.7e8918","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"PhaseB_PowerMeter","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["66a72095.cd1e5"]]},{"id":"dee316b7.db8308","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"PhaseC_PowerMeter","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["66a72095.cd1e5"]]},{"id":"19960d1f.7a3a23","type":"mqtt in","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PhaseB/PowerMeter","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":220,"wires":[["e3994793.7e8918"]]},{"id":"b3845ccb.545c2","type":"mqtt in","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PhaseC/PowerMeter","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":280,"wires":[["dee316b7.db8308"]]},{"id":"4c7d792e.6e9768","type":"function","z":"4565fe59.9cdce","name":"","func":"var PowerMeter_day=flow.get('PowerMeter_day')\nmsg.payload = msg.payload  - PowerMeter_day;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":280,"wires":[["d0a7e6a6.036058"]]},{"id":"c759998.8fdbe68","type":"function","z":"4565fe59.9cdce","name":"","func":"var PowerMeter_night=flow.get('PowerMeter_night')\n\nmsg.payload = msg.payload  - PowerMeter_night;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;\n","outputs":1,"noerr":0,"x":1546,"y":200,"wires":[["8ef873a1.40086"]]},{"id":"d0a7e6a6.036058","type":"mqtt out","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter_night","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1940,"y":280,"wires":[]},{"id":"8ef873a1.40086","type":"mqtt out","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter_day","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1940,"y":200,"wires":[]},{"id":"4189c7f8.05e628","type":"mqtt in","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter_night","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":900,"y":360,"wires":[["5d38267a.c0c808"]]},{"id":"cb1e074a.875428","type":"mqtt in","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter_day","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":900,"y":440,"wires":[["6cf92bfd.653d74"]]},{"id":"b90f685a.ef1388","type":"debug","z":"c191220f.dfae2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":609,"y":180,"wires":[]},{"id":"3bafa563.6e7b5a","type":"mysql","z":"c191220f.dfae2","mydb":"9b1494c0.e77cf8","name":"","x":441,"y":180,"wires":[["b90f685a.ef1388"]]},{"id":"46332667.480538","type":"inject","z":"c191220f.dfae2","name":"","topic":"test4","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["30263072.6d49a"]]},{"id":"30263072.6d49a","type":"function","z":"c191220f.dfae2","name":"INSERT","func":"var nameDB='data';\nvar name = msg.topic; //     \nvar simpletime=global.get('simpletime'); //     MYSQL\nvar temp = msg.payload; //   \nquery = `INSERT INTO `+nameDB+` (name,value, time) VALUES ('`+name+`',`+temp+`,'`+simpletime+`');`; // \nmsg.topic = query; //   \nreturn msg; // \n","outputs":1,"noerr":0,"x":276,"y":180,"wires":[["3bafa563.6e7b5a"]]},{"id":"36e50bef.a5c214","type":"debug","z":"c191220f.dfae2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":609,"y":240,"wires":[]},{"id":"ba6eeeda.b1f1","type":"mysql","z":"c191220f.dfae2","mydb":"9b1494c0.e77cf8","name":"","x":441,"y":240,"wires":[["36e50bef.a5c214"]]},{"id":"e8fcc0aa.3ece6","type":"inject","z":"c191220f.dfae2","name":"","topic":"test4","payload":"77","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["6c127d4.714aa84"]]},{"id":"6c127d4.714aa84","type":"function","z":"c191220f.dfae2","name":"UPDATE","func":"var nameDB='data';\nvar name = msg.topic; //     \nvar simpletime=global.get('simpletime'); //     MYSQL\nvar temp = msg.payload; //   \nquery = `UPDATE `+nameDB+` SET value = '`+temp+`' WHERE name ='`+name+`';`; // \nmsg.topic = query; //   \nreturn msg; // ","outputs":1,"noerr":0,"x":276,"y":240,"wires":[["ba6eeeda.b1f1"]]},{"id":"5d56f97b.8734c8","type":"debug","z":"c191220f.dfae2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":609,"y":300,"wires":[]},{"id":"eee5cb5a.dbb4c8","type":"mysql","z":"c191220f.dfae2","mydb":"9b1494c0.e77cf8","name":"","x":441,"y":300,"wires":[["5d56f97b.8734c8"]]},{"id":"890a2521.b205d8","type":"inject","z":"c191220f.dfae2","name":"","topic":"test4","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["89e90ee.c5221f"]]},{"id":"89e90ee.c5221f","type":"function","z":"c191220f.dfae2","name":"SELECT","func":"var nameDB='data';\nvar name = msg.topic; //     \nquery = `SELECT * FROM `+nameDB+` WHERE name='`+name+`';`; // \nmsg.topic = query; //   \nreturn msg; // ","outputs":1,"noerr":0,"x":276,"y":300,"wires":[["eee5cb5a.dbb4c8"]]},{"id":"43b41b8d.877044","type":"simpletime","z":"c191220f.dfae2","name":"","x":330,"y":60,"wires":[["1f7c80c9.ef294f"]]},{"id":"384ff459.819f6c","type":"inject","z":"c191220f.dfae2","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["43b41b8d.877044"]]},{"id":"1f7c80c9.ef294f","type":"function","z":"c191220f.dfae2","name":"curent time","func":"var myyear = msg.myyear;\nvar mymonthn = msg.mymonthn;\nvar mydom = msg.mydom;\nvar mytimes = msg.mytimes;\nquery = ``+myyear+`-`+mymonthn+`-`+mydom+` `+mytimes+``;\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["faaf11bb.3e3e5"]]},{"id":"faaf11bb.3e3e5","type":"change","z":"c191220f.dfae2","name":"","rules":[{"t":"set","p":"simpletime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":60,"wires":[[]]},{"id":"b7f6853f.10b2e8","type":"debug","z":"c191220f.dfae2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":609,"y":360,"wires":[]},{"id":"6abb779c.d115b8","type":"mysql","z":"c191220f.dfae2","mydb":"9b1494c0.e77cf8","name":"","x":441,"y":360,"wires":[["b7f6853f.10b2e8"]]},{"id":"82597703.443768","type":"inject","z":"c191220f.dfae2","name":"","topic":"test4","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["361c51bc.5217de"]]},{"id":"361c51bc.5217de","type":"function","z":"c191220f.dfae2","name":"DELETE","func":"var nameDB='data';\nvar name = msg.topic; //     \nquery = `DELETE FROM `+nameDB+` WHERE name='`+name+`';`; //  \nmsg.topic = query; //   \nreturn msg; // ","outputs":1,"noerr":0,"x":276,"y":360,"wires":[["6abb779c.d115b8"]]},{"id":"bc6c9955.deb2d8","type":"switch","z":"8bc58de.6c7987","name":"Night","property":"Night","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1040,"wires":[["bdf451ff.b6b9c"]]},{"id":"c55af9b3.43d948","type":"switch","z":"8bc58de.6c7987","name":"NO Night","property":"Night","propertyType":"global","rules":[{"t":"neq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":994,"wires":[["bdf451ff.b6b9c"]]},{"id":"c0a57638.5dbb58","type":"mysql","z":"4565fe59.9cdce","mydb":"9b1494c0.e77cf8","name":"","x":1660,"y":740,"wires":[[]]},{"id":"aa1e1f9d.1a319","type":"function","z":"4565fe59.9cdce","name":"INSERT","func":"var nameDB='energyday';\nvar name = msg.topic; //     \nvar simpletime=global.get('simpletime'); //     MYSQL\nvar temp = msg.payload; //   \nquery = `INSERT INTO `+nameDB+` (name,value, time) VALUES ('`+name+`',`+temp+`,'`+simpletime+`');`; // \nmsg.topic = query; //   \nreturn msg; // \n","outputs":1,"noerr":0,"x":1495,"y":740,"wires":[["c0a57638.5dbb58"]]},{"id":"5b1ed5b.9d0f62c","type":"inject","z":"4565fe59.9cdce","name":"","topic":"powerday","payload":"PowerMeter","payloadType":"flow","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":830,"y":740,"wires":[["c37399f2.84beb8"]]},{"id":"9dfbd0ff.307dc","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"PowerMeter_temp","pt":"flow","to":"PowerMeter","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":740,"wires":[["aa1e1f9d.1a319"]]},{"id":"c37399f2.84beb8","type":"function","z":"4565fe59.9cdce","name":"","func":"var power_p = flow.get('PowerMeter_temp');\nmsg.payload = msg.payload  - power_p;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":740,"wires":[["9dfbd0ff.307dc","bf56e711.d458f8"]]},{"id":"773a76f7.a3d668","type":"mysql","z":"4565fe59.9cdce","mydb":"9b1494c0.e77cf8","name":"","x":1660,"y":820,"wires":[[]]},{"id":"1b7018f2.734e17","type":"function","z":"4565fe59.9cdce","name":"INSERT","func":"var nameDB='energynight';\nvar name = msg.topic; //     \nvar simpletime=global.get('simpletime'); //     MYSQL\nvar temp = msg.payload; //   \nquery = `INSERT INTO `+nameDB+` (name,value, time) VALUES ('`+name+`',`+temp+`,'`+simpletime+`');`; // \nmsg.topic = query; //   \nreturn msg; // \n","outputs":1,"noerr":0,"x":1495,"y":820,"wires":[["773a76f7.a3d668"]]},{"id":"ce89b87d.a6b188","type":"inject","z":"4565fe59.9cdce","name":"","topic":"powernight","payload":"PowerMeter","payloadType":"flow","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":830,"y":820,"wires":[["5a11a82f.707d58"]]},{"id":"83fd714c.eb406","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"PowerMeter_temp","pt":"flow","to":"PowerMeter","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":820,"wires":[["1b7018f2.734e17"]]},{"id":"5a11a82f.707d58","type":"function","z":"4565fe59.9cdce","name":"","func":"var power_p = flow.get('PowerMeter_temp');\nmsg.payload = msg.payload  - power_p;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":820,"wires":[["83fd714c.eb406","3031669e.5e79ea"]]},{"id":"3031669e.5e79ea","type":"mqtt out","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter_1night","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1170,"y":900,"wires":[]},{"id":"bf56e711.d458f8","type":"mqtt out","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter_1day","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1160,"y":680,"wires":[]},{"id":"c32e2f5c.46c01","type":"debug","z":"8bc58de.6c7987","name":"Home_Rejim","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":1200,"wires":[]},{"id":"fec062a2.f3fc4","type":"function","z":"5d7e112b.27504","name":"Bathroom_Switch","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar click = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\n\n\nif (data.click == \"single\") {\n    click = {\"payload\": \"single\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"single\"}); \n}\nif (data.click == \"double\") {\n    click = {\"payload\": \"double\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"double\"}); \n}\nif (data.click == \"long_release\") {\n    click = {\"payload\": \"long\"};\n    node.status({fill:\"blue\",shape:\"dot\",text:\"long\"}); \n}\n\n\n\n\nnode.send([ voltage, linkquality,battery,click]);\n","outputs":4,"noerr":0,"x":150,"y":340,"wires":[["bc939bd8.d313e8"],["6ae4a8f1.5b8cc8"],["c9f6e43f.398178"],["3623b3c9.bc396c"]],"outputLabels":["voltage","linkquality","battery","battery"]},{"id":"ae1402f9.b5028","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"zigbee2mqtt/Bathroom_Switch","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":160,"y":300,"wires":[["fec062a2.f3fc4"]]},{"id":"bc939bd8.d313e8","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_Switch/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":315,"y":340,"wires":[],"l":false},{"id":"6ae4a8f1.5b8cc8","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_Switch/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":335,"y":340,"wires":[],"l":false},{"id":"c9f6e43f.398178","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_Switch/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":295,"y":360,"wires":[],"l":false},{"id":"3623b3c9.bc396c","type":"switch","z":"5d7e112b.27504","name":"1 long -2 double -3 single","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"single","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":170,"y":540,"wires":[["d01670fd.9d82e"],["61d13f58.a7c39"],["99bb3e4e.bfa0c"]],"outputLabels":["long","double","single"]},{"id":"8c3a94d8.0d15f8","type":"function","z":"5d7e112b.27504","name":"Bathroom_HT1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":400,"y":100,"wires":[["a54abe27.733e6","8907262d.dabeb8"],["a4d10f11.94312","8907262d.dabeb8","28a83353.653924"],[],["1b17c26e.68e35e"],["b5563015.6beee"],["3ec2a121.c745fe"]],"outputLabels":["temp","humidity","pressure","voltage","linkquality","battery"]},{"id":"3afc350a.c9109a","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"zigbee2mqtt/Bathroom_HT1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":180,"y":100,"wires":[["8c3a94d8.0d15f8"]]},{"id":"a54abe27.733e6","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Temperature","qos":"0","retain":"true","broker":"5101c6e3.603738","x":535,"y":80,"wires":[],"l":false},{"id":"8907262d.dabeb8","type":"debug","z":"5d7e112b.27504","name":"Bathroom_HT1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":20,"wires":[]},{"id":"a4d10f11.94312","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Humidity","qos":"0","retain":"true","broker":"5101c6e3.603738","x":515,"y":80,"wires":[],"l":false},{"id":"1b17c26e.68e35e","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_HT1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":515,"y":100,"wires":[],"l":false},{"id":"b5563015.6beee","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_HT1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":535,"y":100,"wires":[],"l":false},{"id":"3ec2a121.c745fe","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_HT1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":515,"y":132,"wires":[],"l":false},{"id":"2727f73b.a6c008","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"bathroom1/switch/relay_1/command","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1710,"y":460,"wires":[]},{"id":"7bbb68dc.849d98","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"bathroom1/switch/relay_2/command","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1500,"y":840,"wires":[]},{"id":"ba1fdd4b.27f1e","type":"comment","z":"5d7e112b.27504","name":" relay_1","info":"","x":1630,"y":280,"wires":[]},{"id":"990fcac3.da4628","type":"comment","z":"5d7e112b.27504","name":"   relay_2","info":"","x":1570,"y":800,"wires":[]},{"id":"5f663c5.e6582c4","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on_set","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":590,"y":840,"wires":[["7db0f21c.e2f8c4","7c0e4af4.94acdc"]]},{"id":"a9e6723d.4fddd","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Blower_on_set","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":860,"y":360,"wires":[["2727f73b.a6c008"]]},{"id":"5ff54cea.b271d4","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"zigbee2mqtt/Motion_sensor","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":940,"wires":[["bfa7a9dc.ce74f8"]]},{"id":"bfa7a9dc.ce74f8","type":"function","z":"5d7e112b.27504","name":"Motion_sensor","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar lightswith = null;\nvar illuminance = {\"payload\": data.illuminance};\nvar occupancy = {\"payload\": data.occupancy};\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\nif (data.occupancy) {\n    node.status({fill:\"red\",shape:\"dot\",text:\"true\"});\n    lightswith = {\"payload\": \"ON\"};\n}\n\nelse {\n    node.status({fill:\"green\",shape:\"dot\",text:\"false\"});\n    lightswith = {\"payload\": \"OFF\"};\n}\n\noccupancy = {\"payload\": data.occupancy};\n\n\n\nnode.send([ voltage, linkquality,battery,occupancy,lightswith]);\n","outputs":5,"noerr":0,"x":190,"y":1020,"wires":[["5c587493.ccd4ac"],["cfd78b63.acac98"],["2c896f87.3c4688"],[],["680eee87.fdb4b8"]],"outputLabels":["voltage","linkquality","battery","occupancy","lightswith"]},{"id":"6d3cabd1.270e4c","type":"debug","z":"8bc58de.6c7987","name":"global.T_Kof","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":1000,"wires":[]},{"id":"b93f0f28.e10fa8","type":"delay","z":"4e2c8d9b.9d5c84","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"2","randomLast":"3","randomUnits":"seconds","drop":false,"x":1800,"y":720,"wires":[["12872305.e37eed","bc16f4b2.8f2248"]]},{"id":"c2ce5eae.ec7cc8","type":"inject","z":"d1ee1458.993d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["702ab175.334198"]]},{"id":"702ab175.334198","type":"http request","z":"d1ee1458.993d88","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.5/sensors","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":460,"wires":[["3b0ff772.f5bcf","fa0784a1.487ad"]]},{"id":"3b0ff772.f5bcf","type":"function","z":"d1ee1458.993d88","name":"","func":"var text = msg.payload;\ntext = text.replace(/;/g,'\",\"');\ntext = text.replace(/:/g,'\":\"');\ntext = '{\"' + text + 'end\":\"end\"}';\nvar data = JSON.parse(text);\ndelete data['hostname']\ndelete data['end']\n//data.shift();\n//data.pop();\n\nfor (let key in data) {\n data[key] =  Number(data[key]);\n}\n\n\nvar mb0101 = {\"payload\":  data['0101']};\nvar mb0102 = {\"payload\":  data['0102']};\nvar mb0103 = {\"payload\":  data['0103']};\nvar mb0104 = {\"payload\":  data['0104']};\nvar mb0105 = {\"payload\":  data['0105']};\nvar mb0106 = {\"payload\":  data['0106']};\n\nvar mb0201 = {\"payload\":  data['0201']};\nvar mb0202 = {\"payload\":  data['0202']};\nvar mb0203 = {\"payload\":  data['0203']};\nvar mb0204 = {\"payload\":  data['0204']};\nvar mb0205 = {\"payload\":  data['0205']};\nvar mb0206 = {\"payload\":  data['0206']};\n\nvar mb0301 = {\"payload\":  data['0301']};\nvar mb0302 = {\"payload\":  data['0302']};\nvar mb0303 = {\"payload\":  data['0303']};\nvar mb0304 = {\"payload\":  data['0304']};\nvar mb0305 = {\"payload\":  data['0305']};\nvar mb0306 = {\"payload\":  data['0306']};\n\nnode.send([mb0101,mb0102,mb0103,mb0104,mb0105,mb0106,mb0201,mb0202,mb0203,mb0204,mb0205,mb0206,mb0301,mb0302,mb0303,mb0304,mb0305,mb0306]);\n","outputs":18,"noerr":0,"x":410,"y":640,"wires":[["1025e20c.cefef6"],["f71d58ae.6e95d"],["acd242ae.f21dd"],["7c578ff9.d01d3"],["2fc93a3c.e75d8e"],["f4190dc3.83576"],["9e51c435.92dbe8"],["c743dc87.1705f8"],["2639b87f.8e7d68"],["b52519e6.f4c768"],["ddda7794.aa9f58"],["30f2302d.a118d8"],["72fdc64d.18c1b8"],["dcf79f46.7a72a"],["2710beea.a8e302"],["6b8f146a.936294"],["8bd4cf2b.50f7d"],["1f4ac45.08486bc"]]},{"id":"93b1489a.dae95","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseA/Voltage","qos":"0","retain":"false","broker":"5101c6e3.603738","x":950,"y":260,"wires":[]},{"id":"143d7ab.fdb2805","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseA/Current","qos":"0","retain":"false","broker":"5101c6e3.603738","x":950,"y":298,"wires":[]},{"id":"20fa5b09.b3574c","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseA/Power","qos":"0","retain":"false","broker":"5101c6e3.603738","x":940,"y":336,"wires":[]},{"id":"aac7a5c.b6953d8","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseA/PowerMeter","qos":"0","retain":"false","broker":"5101c6e3.603738","x":960,"y":374,"wires":[]},{"id":"4f6e6b80.879ca4","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseA/Frequency","qos":"0","retain":"false","broker":"5101c6e3.603738","x":960,"y":412,"wires":[]},{"id":"736a0806.1c64e","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseA/PowerFactor","qos":"0","retain":"false","broker":"5101c6e3.603738","x":960,"y":450,"wires":[]},{"id":"6467bcac.2de544","type":"function","z":"d1ee1458.993d88","name":"to-kWh","func":"\nmsg.payload = msg.payload/1000;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":373,"wires":[["aac7a5c.b6953d8"]]},{"id":"6f0ca97e.b47518","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseB/Voltage","qos":"0","retain":"false","broker":"5101c6e3.603738","x":1040,"y":520,"wires":[]},{"id":"c33571a1.e5f498","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseB/Current","qos":"0","retain":"false","broker":"5101c6e3.603738","x":1040,"y":558,"wires":[]},{"id":"175c0fd6.0782e","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseB/Power","qos":"0","retain":"false","broker":"5101c6e3.603738","x":1030,"y":596,"wires":[]},{"id":"68044385.ce9dbc","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseB/PowerMeter","qos":"0","retain":"false","broker":"5101c6e3.603738","x":1050,"y":634,"wires":[]},{"id":"b6e4b653.b2afd8","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseB/Frequency","qos":"0","retain":"false","broker":"5101c6e3.603738","x":1050,"y":672,"wires":[]},{"id":"de59f2d.73fcb1","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseB/PowerFactor","qos":"0","retain":"false","broker":"5101c6e3.603738","x":1050,"y":710,"wires":[]},{"id":"fe41c75.9941d38","type":"function","z":"d1ee1458.993d88","name":"to-kWh","func":"\nmsg.payload = msg.payload/1000;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":634,"wires":[["68044385.ce9dbc"]]},{"id":"5517d475.5d6ac4","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseC/Voltage","qos":"0","retain":"false","broker":"5101c6e3.603738","x":980,"y":820,"wires":[]},{"id":"2a595db8.7017a2","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseC/Current","qos":"0","retain":"false","broker":"5101c6e3.603738","x":980,"y":858,"wires":[]},{"id":"1f3a707c.9dc6a","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseC/Power","qos":"0","retain":"false","broker":"5101c6e3.603738","x":970,"y":896,"wires":[]},{"id":"d7b2c8db.30d79","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseC/PowerMeter","qos":"0","retain":"false","broker":"5101c6e3.603738","x":990,"y":934,"wires":[]},{"id":"6b14b9ef.068658","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseC/Frequency","qos":"0","retain":"false","broker":"5101c6e3.603738","x":990,"y":972,"wires":[]},{"id":"f15eb51.96e7848","type":"mqtt out","z":"d1ee1458.993d88","name":"","topic":"Openhab_VAR/Energy/PhaseC/PowerFactor","qos":"0","retain":"false","broker":"5101c6e3.603738","x":990,"y":1010,"wires":[]},{"id":"ae67fba1.5631c8","type":"function","z":"d1ee1458.993d88","name":"to-kWh","func":"\nmsg.payload = msg.payload/1000;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":934,"wires":[["d7b2c8db.30d79"]]},{"id":"fa0784a1.487ad","type":"debug","z":"d1ee1458.993d88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":460,"wires":[]},{"id":"1025e20c.cefef6","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":555,"y":263,"wires":[["93b1489a.dae95"]],"l":false},{"id":"f71d58ae.6e95d","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":555,"y":298,"wires":[["143d7ab.fdb2805"]],"l":false},{"id":"7c578ff9.d01d3","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":564,"y":380,"wires":[["6467bcac.2de544"]],"l":false},{"id":"acd242ae.f21dd","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":555,"y":339,"wires":[["20fa5b09.b3574c"]],"l":false},{"id":"2fc93a3c.e75d8e","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":563,"y":420,"wires":[["4f6e6b80.879ca4"]],"l":false},{"id":"f4190dc3.83576","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":560,"y":460,"wires":[["736a0806.1c64e"]],"l":false},{"id":"9e51c435.92dbe8","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":635,"y":520,"wires":[["6f0ca97e.b47518"]],"l":false},{"id":"c743dc87.1705f8","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":635,"y":560,"wires":[["c33571a1.e5f498"]],"l":false},{"id":"2639b87f.8e7d68","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":633,"y":600,"wires":[["175c0fd6.0782e"]],"l":false},{"id":"b52519e6.f4c768","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":635,"y":636,"wires":[["fe41c75.9941d38"]],"l":false},{"id":"1f4ac45.08486bc","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":575,"y":1010,"wires":[["f15eb51.96e7848"]],"l":false},{"id":"8bd4cf2b.50f7d","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":575,"y":973,"wires":[["6b14b9ef.068658"]],"l":false},{"id":"6b8f146a.936294","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":575,"y":935,"wires":[["ae67fba1.5631c8"]],"l":false},{"id":"2710beea.a8e302","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":577,"y":899,"wires":[["1f3a707c.9dc6a"]],"l":false},{"id":"dcf79f46.7a72a","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":575,"y":867,"wires":[["2a595db8.7017a2"]],"l":false},{"id":"72fdc64d.18c1b8","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":575,"y":827,"wires":[["5517d475.5d6ac4"]],"l":false},{"id":"30f2302d.a118d8","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":635,"y":706,"wires":[["de59f2d.73fcb1"]],"l":false},{"id":"ddda7794.aa9f58","type":"rbe","z":"d1ee1458.993d88","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":636,"y":675,"wires":[["b6e4b653.b2afd8"]],"l":false},{"id":"849b8efc.caa3","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"bathroom2/switch/relay_1/command","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1500,"y":920,"wires":[]},{"id":"680eee87.fdb4b8","type":"switch","z":"5d7e112b.27504","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1010,"wires":[["42037f65.71ee5","a9c977b5.5c0138"],["a9c977b5.5c0138"]]},{"id":"7c207840.3fe43","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Auto_Lamp","qos":"0","retain":"true","broker":"5101c6e3.603738","x":530,"y":460,"wires":[]},{"id":"42037f65.71ee5","type":"switch","z":"5d7e112b.27504","name":"Auto_Lamp","property":"Auto_Lamp","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":731,"y":1004,"wires":[["88d269de.0452f"]]},{"id":"3ea00c7f.17246c","type":"inject","z":"5d7e112b.27504","name":"switch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":720,"wires":[["99bb3e4e.bfa0c"]]},{"id":"955f6876.06ec5","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Lamp2_on_set","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":590,"y":917,"wires":[["7db0f21c.e2f8c4","ad939a4c.1ea358"]]},{"id":"7e4387ef.3b6668","type":"function","z":"ee7c9811.043e18","name":"","func":"var lamp1=flow.get('relay_2')\nvar lamp2=flow.get('relay_21')\nvar payload = msg.payload;\n\n\nif((lamp2 == \"ON\")&&(lamp1 == \"ON\")) {\n    msg = {\"payload\": \"OFF\"};\n}\nelse {\n    msg = {\"payload\": \"ON\"};\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":420,"wires":[[]]},{"id":"aab1ef6a.1aa7d","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":80,"wires":[["31651236.8e8b6e"]]},{"id":"cd29b5db.81e78","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":140,"wires":[["31651236.8e8b6e"]]},{"id":"540dffe6.8c8478","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":220,"wires":[["d507ade1.d15b7"]]},{"id":"6f12e225.1e93b4","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":280,"wires":[["d507ade1.d15b7"]]},{"id":"31651236.8e8b6e","type":"change","z":"ee7c9811.043e18","name":"","rules":[{"t":"set","p":"relay_2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[[]]},{"id":"d507ade1.d15b7","type":"change","z":"ee7c9811.043e18","name":"","rules":[{"t":"set","p":"relay_21","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":240,"wires":[[]]},{"id":"d65fead7.0be648","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"relay_2","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":100,"wires":[["63d486e5.2772f"]]},{"id":"63d486e5.2772f","type":"debug","z":"ee7c9811.043e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":100,"wires":[]},{"id":"8a679b66.313fb8","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"relay_21","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":160,"wires":[["c6b82f8a.a00c78"]]},{"id":"c6b82f8a.a00c78","type":"debug","z":"ee7c9811.043e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":160,"wires":[]},{"id":"66b9e112.e72548","type":"debug","z":"ee7c9811.043e18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":380,"wires":[]},{"id":"31660bc2.57aa24","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":380,"wires":[["7e4387ef.3b6668"]]},{"id":"eecb7f8a.502e6","type":"switch","z":"ee7c9811.043e18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"lamp12_OFF","vt":"str"},{"t":"eq","v":"lamp12_ON","vt":"str"},{"t":"eq","v":"lamp1_ON","vt":"str"},{"t":"eq","v":"lamp2_ON","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":820,"y":400,"wires":[[],[],[],[]]},{"id":"99bb3e4e.bfa0c","type":"function","z":"5d7e112b.27504","name":"func buton on-off","func":"var lamp1=flow.get('relay_2')\nvar lamp2=flow.get('relay_21')\nvar payload = msg.payload;\n\n\nif((lamp2 == \"OFF\")&&(lamp1 == \"OFF\")) {\n    node.status({fill:\"green\",shape:\"dot\" ,text: \"ON\" });\n    return  {\"payload\": \"ON\"};\n}\nelse {\n     node.status({fill:\"red\",shape:\"dot\" ,text: \"OFF\" });\n    return  {\"payload\": \"OFF\"};\n    }\n","outputs":1,"noerr":0,"x":550,"y":680,"wires":[["7db0f21c.e2f8c4","7c0e4af4.94acdc","ad939a4c.1ea358"]]},{"id":"ea3f4970.4b64f8","type":"debug","z":"5d7e112b.27504","name":"manual_lamp_on","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":760,"wires":[]},{"id":"e5462b32.e5dad","type":"function","z":"ee7c9811.043e18","name":"func buton on-off","func":"var lamp1=flow.get('relay_2')\nvar lamp2=flow.get('relay_21')\nvar payload = msg.payload;\n\nif (payload == \"ON\" &&  (lamp2 == \"OFF\" || lamp1 == \"OFF\"))\n{\n    msg = {\"payload\": \"ON\"};\n    return msg;\n}\n\nelse if (payload == \"OFF\" && lamp2 == \"ON\" && lamp1 == \"ON\")\n{\n    msg = {\"payload\": \"OFF\"};\nreturn msg;    \n}\n\n\n","outputs":1,"noerr":0,"x":1050,"y":260,"wires":[["66b9e112.e72548"]]},{"id":"91a8be30.24ccf8","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":260,"wires":[["e5462b32.e5dad"]]},{"id":"c73452c6.d36908","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":320,"wires":[["e5462b32.e5dad"]]},{"id":"f4995d9.bb2802","type":"debug","z":"ee7c9811.043e18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":520,"wires":[]},{"id":"e8ce98bc.3c52b8","type":"function","z":"ee7c9811.043e18","name":"KitchenRoom_HTP1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\n\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":120,"y":60,"wires":[[],[],[],[],[],[]]},{"id":"191a12d4.535965","type":"function","z":"ee7c9811.043e18","name":"","func":"var lamp1=flow.get('relay_2')\nvar lamp2=flow.get('relay_21')\nvar topic = msg.topic;\nvar payload = msg.payload;\n\n\nif(payload == \"ON\")\n{\n        return {\"payload\": \"ON\"};\n}\nelse if(payload == \"OFF\")\n    {\n        if(topic == \"Openhab_VAR/Bathroom/Lamp1_on_set\" && lamp2 == \"OFF\")        \n        {\n            return {\"payload\": \"OFF\"};\n        }\n        else if(topic == \"Openhab_VAR/Bathroom/Lamp2_on_set\" && lamp1 == \"OFF\")\n        {\n            return {\"payload\": \"OFF\"};\n        }\n    }\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":590,"y":720,"wires":[["2818b03f.45e3"]]},{"id":"2818b03f.45e3","type":"debug","z":"ee7c9811.043e18","name":"func out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":740,"wires":[]},{"id":"df22b460.2c53a","type":"inject","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on_set","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":740,"wires":[["191a12d4.535965","50322316.ed2d64"]]},{"id":"7c3a8c13.3e913c","type":"inject","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on_set","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":680,"wires":[["191a12d4.535965","50322316.ed2d64"]]},{"id":"4ba51380.27d504","type":"mqtt in","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on_set","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":260,"y":560,"wires":[["191a12d4.535965","50322316.ed2d64"]]},{"id":"353807ea.f4bc3","type":"mqtt in","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp2_on_set","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":260,"y":620,"wires":[["191a12d4.535965","50322316.ed2d64"]]},{"id":"50322316.ed2d64","type":"debug","z":"ee7c9811.043e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":600,"wires":[]},{"id":"7db0f21c.e2f8c4","type":"function","z":"5d7e112b.27504","name":"set flow manual_lamp_on","func":"var lamp1=flow.get('relay_2')\nvar lamp2=flow.get('relay_21')\nvar topic = msg.topic;\nvar payload = msg.payload;\n\n\nif(payload == \"ON\")\n{       \n    node.status({fill:\"green\",shape:\"dot\" ,text: \"ON\" });\n    flow.set(\"manual_lamp_on\", \"ON\")\n    return {\"payload\": \"ON\"};\n}\nelse if(payload == \"OFF\")\n    {\n        if(topic == \"Openhab_VAR/Bathroom/Lamp1_on_set\" && lamp2 == \"OFF\")        \n        {   \n            node.status({fill:\"red\",shape:\"dot\" ,text: \"OFF\" });\n            flow.set(\"manual_lamp_on\", \"OFF\")\n            return {\"payload\": \"OFF\"};\n        }\n        else if(topic == \"Openhab_VAR/Bathroom/Lamp2_on_set\" && lamp1 == \"OFF\")\n        {\n            node.status({fill:\"red\",shape:\"dot\" ,text: \"OFF\" });\n            flow.set(\"manual_lamp_on\", \"OFF\")\n            return {\"payload\": \"OFF\"};\n        }\n        else if (topic !== \"Openhab_VAR/Bathroom/Lamp2_on_set\" && topic !== \"Openhab_VAR/Bathroom/Lamp1_on_set\")\n        {\n            node.status({fill:\"red\",shape:\"dot\" ,text: \"OFF\" });\n            flow.set(\"manual_lamp_on\", \"OFF\")\n            return {\"payload\": \"OFF\"};\n        }\n    }\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":970,"y":680,"wires":[["ea3f4970.4b64f8","240713a2.11a144","3840e77f.7494e8"]]},{"id":"d9e43038.47c5b","type":"switch","z":"ee7c9811.043e18","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Auto_Lamp","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":860,"wires":[[]]},{"id":"3a59cde4.20c25a","type":"change","z":"ee7c9811.043e18","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":840,"wires":[["d9e43038.47c5b"]]},{"id":"4c5e37cc.f0ff28","type":"change","z":"ee7c9811.043e18","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":880,"wires":[["d9e43038.47c5b"]]},{"id":"cb229a8a.c1fdf8","type":"function","z":"ee7c9811.043e18","name":"filtr-ON-OFF","func":"var state=flow.get('relay_2')\nvar payload = msg.payload;\n\n\nif(state == \"ON\")\n{\n        return {\"payload\": \"OFF\"};\n}\nelse {\n        return {\"payload\": \"ON\"};\n    }\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":910,"y":520,"wires":[["64850beb.c9c204"]]},{"id":"b095ceb6.8afb","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":520,"wires":[["cb229a8a.c1fdf8"]]},{"id":"64850beb.c9c204","type":"debug","z":"ee7c9811.043e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":520,"wires":[]},{"id":"d01670fd.9d82e","type":"function","z":"5d7e112b.27504","name":"filtr-ON-OFF","func":"var state=flow.get('Auto_Lamp')\n\nif(state == \"ON\")\n{\n    node.status({fill:\"red\",shape:\"dot\" ,text: \"OFF\" });\n    return {\"payload\": \"OFF\"};\n}\nelse {\n    node.status({fill:\"green\",shape:\"dot\" ,text: \"ON\" });\n    return {\"payload\": \"ON\"};\n    }\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["7c207840.3fe43"]]},{"id":"61d13f58.a7c39","type":"function","z":"5d7e112b.27504","name":"filtr-ON-OFF","func":"var state=flow.get('relay_1')\n\nif(state == \"ON\")\n{\n    node.status({fill:\"red\",shape:\"dot\" ,text: \"OFF\" });\n    return {\"payload\": \"OFF\"};\n}\nelse {\n    node.status({fill:\"green\",shape:\"dot\" ,text: \"ON\" });\n    return {\"payload\": \"ON\"};\n    }\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1320,"y":460,"wires":[["2727f73b.a6c008"]]},{"id":"7c0e4af4.94acdc","type":"function","z":"5d7e112b.27504","name":"ON-OFF","func":"var payload = msg.payload;\n\nif(payload !== \"ON\")\n{\n    node.status({fill:\"red\",shape:\"dot\",text: \"OFF\" });\n    return {\"payload\": \"OFF\"};\n}\nelse {\n    node.status({fill:\"green\",shape:\"dot\",text: \"ON\" });\n    return {\"payload\": \"ON\"};\n    }\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1080,"y":840,"wires":[["c259bbf.54e17c8"]]},{"id":"a7c01abc.8aabc8","type":"mqtt in","z":"ee7c9811.043e18","name":"","topic":"bathroom1/switch/relay_2/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":1040,"wires":[[]]},{"id":"18a7a5d0.52da32","type":"mqtt out","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on","qos":"0","retain":"true","broker":"5101c6e3.603738","x":770,"y":1040,"wires":[]},{"id":"f7900935.6487b8","type":"inject","z":"ee7c9811.043e18","name":"","topic":"","payload":"AutoHumidity","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1120,"wires":[["3b25b9cb.c57886"]]},{"id":"3b25b9cb.c57886","type":"debug","z":"ee7c9811.043e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":1120,"wires":[]},{"id":"ea4f9e91.4194c8","type":"function","z":"5d7e112b.27504","name":"cool func","func":"var payload = msg.payload;\nvar topic = msg.topic;\nvar state;\nvar text;\n\nif (topic == \"Openhab_VAR/Bathroom/AutoHumidity\")\n{\n    state = flow.get(\"AutoHumidity\")\n    if (state !== payload)\n    {\n        flow.set('AutoHumidity',payload);\n        text = \"1 : \" +payload;\n        node.status({text: text });\n        return [ msg, null, null ,null,null ];\n    }\n}\n\n\nif (topic == \"Openhab_VAR/Bathroom/Auto_Lamp\")\n{\n    state = flow.get(\"Auto_Lamp\")\n    if (state !== payload)\n    {\n        flow.set('Auto_Lamp',payload);\n        text = \"2 : \" +payload;\n        node.status({text: text });\n        return [ null , msg, null ,null,null ];\n    }\n}\n\nif (topic == \"bathroom1/switch/relay_1/state\")\n{\n    state = flow.get(\"relay_1\")\n    if (state !== payload)\n    {\n        flow.set('relay_1',payload);\n        text = \"3 : \" +payload;\n        node.status({text: text });\n        return [ null ,null, msg, null,null ];\n    }\n}\n\nif (topic == \"bathroom1/switch/relay_2/state\")\n{\n    state = flow.get(\"relay_2\")\n    if (state !== payload)\n    {\n        flow.set('relay_2',payload);\n        text = \"4 : \" +payload;\n        node.status({text: text });\n        return [ null ,null, null, msg,null ];\n    }\n}\n\nif (topic == \"bathroom2/switch/relay_1/state\")\n{\n    state = flow.get(\"relay_21\")\n    if (state !== payload)\n    {\n        flow.set('relay_21',payload);\n        text = \"5 : \" +payload;\n        node.status({text: text });\n        return [ null ,null, null, null,msg ];\n    }\n}\n\n\n\n","outputs":5,"noerr":0,"x":1080,"y":140,"wires":[[],[],["2ad5f33b.34c944"],["b356d4f4.eaa76"],["1894bb53.932c1d"]],"outputLabels":["AutoHumidity","Auto_Lamp","relay_1","relay_2","relay_21"]},{"id":"31874649.380702","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"bathroom1/switch/relay_1/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":770,"y":100,"wires":[["ea4f9e91.4194c8"]]},{"id":"7e7379f4.a80a2","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"bathroom1/switch/relay_2/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":770,"y":140,"wires":[["ea4f9e91.4194c8"]]},{"id":"2ad5f33b.34c944","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Blower_on","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1390,"y":100,"wires":[]},{"id":"b356d4f4.eaa76","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1390,"y":140,"wires":[]},{"id":"2547bdbf.51607a","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"bathroom2/switch/relay_1/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":770,"y":180,"wires":[["ea4f9e91.4194c8"]]},{"id":"b5436f8.f14011","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Auto_Lamp","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":790,"y":60,"wires":[["ea4f9e91.4194c8"]]},{"id":"1894bb53.932c1d","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Lamp2_on","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1390,"y":180,"wires":[]},{"id":"8410ac16.08d19","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/AutoHumidity","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":790,"y":20,"wires":[["ea4f9e91.4194c8"]]},{"id":"d846260f.36f248","type":"mqtt in","z":"ee7c9811.043e18","name":"","topic":"bathroom1/switch/relay_1/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":1800,"wires":[["874a1fc2.14d35"]]},{"id":"55ce6200.9d8bc8","type":"mqtt in","z":"ee7c9811.043e18","name":"","topic":"bathroom1/switch/relay_2/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":1860,"wires":[["2f168efd.1d2732"]]},{"id":"874a1fc2.14d35","type":"change","z":"ee7c9811.043e18","name":"","rules":[{"t":"set","p":"relay_1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1800,"wires":[["86a31e6e.9f0c48"]]},{"id":"2f168efd.1d2732","type":"change","z":"ee7c9811.043e18","name":"","rules":[{"t":"set","p":"relay_2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1860,"wires":[["dcb1fac1.caf42"]]},{"id":"86a31e6e.9f0c48","type":"mqtt out","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Blower_on","qos":"0","retain":"true","broker":"5101c6e3.603738","x":750,"y":1800,"wires":[]},{"id":"dcb1fac1.caf42","type":"mqtt out","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on","qos":"0","retain":"true","broker":"5101c6e3.603738","x":750,"y":1860,"wires":[]},{"id":"88c13bf5.9a1008","type":"mqtt in","z":"ee7c9811.043e18","name":"","topic":"bathroom2/switch/relay_1/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":1920,"wires":[["8d84fdcc.6f6888"]]},{"id":"8d84fdcc.6f6888","type":"change","z":"ee7c9811.043e18","name":"","rules":[{"t":"set","p":"relay_21","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1920,"wires":[["36f73d8c.ee5c8a"]]},{"id":"f17ea694.217ad8","type":"mqtt in","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Auto_Lamp","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":1720,"wires":[["7a9ba465.2392bc"]]},{"id":"7a9ba465.2392bc","type":"change","z":"ee7c9811.043e18","name":"","rules":[{"t":"set","p":"Auto_Lamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1720,"wires":[[]]},{"id":"36f73d8c.ee5c8a","type":"mqtt out","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp2_on","qos":"0","retain":"true","broker":"5101c6e3.603738","x":770,"y":1920,"wires":[]},{"id":"f8105bdf.9f8bf8","type":"mqtt in","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/AutoHumidity","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":220,"y":1680,"wires":[["e58491d5.49f9b"]]},{"id":"e58491d5.49f9b","type":"change","z":"ee7c9811.043e18","name":"","rules":[{"t":"set","p":"AutoHumidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1680,"wires":[[]]},{"id":"79b472d4.2d07ec","type":"inject","z":"5d7e112b.27504","name":"switch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["d01670fd.9d82e"]]},{"id":"6aae5af9.ac0fdc","type":"inject","z":"5d7e112b.27504","name":"true","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"illuminance\":0,\"linkquality\":81,\"occupancy\":true}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1140,"wires":[["bfa7a9dc.ce74f8"]]},{"id":"27896c2.5c21494","type":"inject","z":"5d7e112b.27504","name":"false","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"illuminance\":0,\"linkquality\":81,\"occupancy\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1220,"wires":[["bfa7a9dc.ce74f8"]]},{"id":"ad939a4c.1ea358","type":"function","z":"5d7e112b.27504","name":"ON-OFF","func":"var payload = msg.payload;\n\nif(payload !== \"ON\")\n{\n    node.status({fill:\"red\",shape:\"dot\",text: \"OFF\" });\n    return {\"payload\": \"OFF\"};\n}\nelse {\n    node.status({fill:\"green\",shape:\"dot\",text: \"ON\" });\n    return {\"payload\": \"ON\"};\n    }\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1080,"y":920,"wires":[["ec5498e0.1496"]]},{"id":"c259bbf.54e17c8","type":"rbe","z":"5d7e112b.27504","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1275,"y":840,"wires":[["7bbb68dc.849d98","8f8b14e3.ec61b"]],"l":false},{"id":"8f8b14e3.ec61b","type":"debug","z":"5d7e112b.27504","name":"Lamp-1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":800,"wires":[]},{"id":"ec5498e0.1496","type":"rbe","z":"5d7e112b.27504","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1295,"y":920,"wires":[["cb8da302.63a738","849b8efc.caa3"]],"l":false},{"id":"cb8da302.63a738","type":"debug","z":"5d7e112b.27504","name":"Lamp-2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1360,"y":960,"wires":[]},{"id":"240713a2.11a144","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/manual_lamp_on","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1330,"y":680,"wires":[]},{"id":"88d269de.0452f","type":"switch","z":"5d7e112b.27504","name":"Auto_Lamp","property":"manual_lamp_on","propertyType":"flow","rules":[{"t":"neq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1006,"wires":[["7c0e4af4.94acdc"]]},{"id":"5c587493.ccd4ac","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_MS/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":305,"y":1000,"wires":[],"l":false},{"id":"cfd78b63.acac98","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_MS/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":325,"y":1000,"wires":[],"l":false},{"id":"2c896f87.3c4688","type":"mqtt out","z":"5d7e112b.27504","name":"","topic":"Xiaomi/Bathroom_MS/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":305,"y":1000,"wires":[],"l":false},{"id":"42ec1233.cea554","type":"debug","z":"46162a38.a20e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":440,"wires":[]},{"id":"dacf680d.d052a8","type":"mqtt in","z":"46162a38.a20e04","name":"","topic":"Openhab_VAR/Bathroom/manual_lamp_on","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":480,"wires":[[]]},{"id":"8c1d8e82.46c7b8","type":"inject","z":"5d7e112b.27504","name":"switch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":420,"wires":[["61d13f58.a7c39"]]},{"id":"20a2616e.598f4e","type":"inject","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on_set","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":800,"wires":[["67e5bc6c.a0d9f4"]]},{"id":"856ffe3b.1110f","type":"inject","z":"ee7c9811.043e18","name":"","topic":"Openhab_VAR/Bathroom/Lamp1_on_set","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":740,"wires":[["67e5bc6c.a0d9f4"]]},{"id":"67e5bc6c.a0d9f4","type":"trigger","z":"ee7c9811.043e18","op1":"","op2":"OFF","op1type":"nul","op2type":"str","duration":"3","extend":false,"units":"s","reset":"ON","bytopic":"all","name":"","x":1250,"y":780,"wires":[["c7b9c37a.17f078"]]},{"id":"c7b9c37a.17f078","type":"debug","z":"ee7c9811.043e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":780,"wires":[]},{"id":"a9c977b5.5c0138","type":"trigger","z":"5d7e112b.27504","op1":"","op2":"OFF","op1type":"nul","op2type":"str","duration":"60","extend":false,"units":"s","reset":"ON","bytopic":"all","name":"","x":610,"y":1100,"wires":[["42037f65.71ee5"]]},{"id":"3840e77f.7494e8","type":"switch","z":"5d7e112b.27504","name":"AutoHumidity","property":"AutoHumidity","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":560,"wires":[["1e6e7851.e60b3"]]},{"id":"d4a82aee.c09bc","type":"trigger","z":"5d7e112b.27504","op1":"","op2":"OFF","op1type":"nul","op2type":"str","duration":"120","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1470,"y":560,"wires":[["2727f73b.a6c008","be697e51.f9059"]]},{"id":"be697e51.f9059","type":"debug","z":"5d7e112b.27504","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1750,"y":580,"wires":[]},{"id":"1e6e7851.e60b3","type":"switch","z":"5d7e112b.27504","name":"OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":560,"wires":[["201286f5.0bd672"]]},{"id":"737f6b93.eb93cc","type":"change","z":"5d7e112b.27504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":560,"wires":[["d4a82aee.c09bc","2727f73b.a6c008"]]},{"id":"28a83353.653924","type":"change","z":"5d7e112b.27504","name":"","rules":[{"t":"set","p":"BathroomHumidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":180,"wires":[[]]},{"id":"c127170f.85ab68","type":"mqtt in","z":"5d7e112b.27504","name":"","topic":"Openhab_VAR/Bathroom/Set_Humidity","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":260,"y":240,"wires":[["d235446f.19547"]]},{"id":"d235446f.19547","type":"change","z":"5d7e112b.27504","name":"","rules":[{"t":"set","p":"BathroomSet_Humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":240,"wires":[[]]},{"id":"201286f5.0bd672","type":"switch","z":"5d7e112b.27504","name":"AutoHumidity","property":"BathroomHumidity","propertyType":"flow","rules":[{"t":"gte","v":"BathroomSet_Humidity","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":560,"wires":[["737f6b93.eb93cc"]]},{"id":"8fffa557.41b698","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"bathroom1/switch/relay_1/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":230,"y":120,"wires":[["a7d0a2be.d90aa"]]},{"id":"90cb9bb.1ef2fe8","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"bathroom1/switch/relay_2/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":230,"y":80,"wires":[["45320b99.8801fc"]]},{"id":"97e62e5.febd95","type":"mysql","z":"ba1574eb.008cc","mydb":"9b1494c0.e77cf8","name":"","x":860,"y":380,"wires":[[]]},{"id":"cf85fd4d.f3478","type":"function","z":"ba1574eb.008cc","name":"INSERT","func":"var nameDB='logs';\n\nvar text = msg.topic;\nvar name = text.replace('/',' ');\nname = name.replace('/',' ');\nname = name.replace('/',' ');\nname = name.replace('/',' ');\nname = name.replace('/',' ');\nname = name.replace('/',' ');\nvar simpletime=global.get('simpletime'); //     MYSQL\nvar value = msg.payload; //   \nquery = `INSERT INTO `+nameDB+` (time, name,value ) VALUES ('`+simpletime+`','`+name+`','`+value+`');`; // \nmsg.topic = query; //   \nreturn msg; // \n","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["97e62e5.febd95"]]},{"id":"34e68190.cf4ede","type":"simpletime","z":"8bc58de.6c7987","name":"","x":1000,"y":40,"wires":[["4f2d6a70.34aa0c"]]},{"id":"6be46491.ae0cdc","type":"inject","z":"8bc58de.6c7987","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":40,"wires":[["34e68190.cf4ede"]]},{"id":"4f2d6a70.34aa0c","type":"function","z":"8bc58de.6c7987","name":"curent time","func":"var myyear = msg.myyear;\nvar mymonthn = msg.mymonthn;\nvar mydom = msg.mydom;\nvar mytimes = msg.mytimes;\nquery = ``+myyear+`-`+mymonthn+`-`+mydom+` `+mytimes+``;\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":40,"wires":[["3a0b6bca.c57544"]]},{"id":"3a0b6bca.c57544","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"simpletime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":40,"wires":[[]]},{"id":"66ecf004.aeeb7","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"bathroom2/switch/relay_1/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":230,"y":200,"wires":[["95d2065d.c7765"]]},{"id":"25fd07ed.35c4e8","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"bathroom2/switch/relay_2/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":260,"wires":[["ab3b4570.338d5"]]},{"id":"581cadc4.c7ef3c","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"mainrelay1/switch/kuhnia/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":340,"wires":[["6352ccce.98a74c"]]},{"id":"d7c7af7d.05121","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"mainrelay1/switch/alisa/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":420,"wires":[["8b40083b.a97c2"]]},{"id":"6d1204f0.a0c264","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"mainrelay1/switch/zal_1/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":150,"y":500,"wires":[["3c519f40.e43628"]]},{"id":"548f5c65.42d23c","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"mainrelay1/switch/zal_2/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":580,"wires":[["b4893fb2.d1dfb"]]},{"id":"45a191a7.f9b098","type":"mqtt in","z":"ba1574eb.008cc","name":"","topic":"mainrelay1/switch/boiler/state","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":230,"y":660,"wires":[["d8cd2421.a4b66"]]},{"id":"ab3b4570.338d5","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":435,"y":300,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"8b40083b.a97c2","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":415,"y":400,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"95d2065d.c7765","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":455,"y":240,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"a7d0a2be.d90aa","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":455,"y":200,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"45320b99.8801fc","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":435,"y":140,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"6352ccce.98a74c","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":395,"y":340,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"3c519f40.e43628","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":415,"y":460,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"b4893fb2.d1dfb","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":395,"y":520,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"d8cd2421.a4b66","type":"rbe","z":"ba1574eb.008cc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":435,"y":580,"wires":[["cf85fd4d.f3478"]],"l":false},{"id":"b3d4450e.7c77a","type":"inject","z":"8bc58de.6c7987","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1340,"wires":[["3b3637a3.408dd8"]]},{"id":"3b3637a3.408dd8","type":"mqtt out","z":"8bc58de.6c7987","name":"","topic":"mainrelay1/switch/restart/command","qos":"","retain":"","broker":"5101c6e3.603738","x":510,"y":1340,"wires":[]},{"id":"ed0ac8c4.fe71d8","type":"mqtt out","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":80,"wires":[]},{"id":"a9c54b44.a345d8","type":"mqtt in","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":880,"y":220,"wires":[["3cf38e8d.a0f3a2"]]},{"id":"ad7c94d7.863678","type":"time-switch","z":"4565fe59.9cdce","name":"","lat":"","lon":"","startTime":"07:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":1350,"y":220,"wires":[["c759998.8fdbe68"],["4c7d792e.6e9768"]]},{"id":"3cf38e8d.a0f3a2","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":220,"wires":[["ad7c94d7.863678"]]},{"id":"6cf92bfd.653d74","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"PowerMeter_day","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":440,"wires":[[]]},{"id":"5d38267a.c0c808","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"PowerMeter_night","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":360,"wires":[[]]},{"id":"843f6660.15b8d8","type":"mqtt in","z":"4565fe59.9cdce","name":"","topic":"Openhab_VAR/Energy/PowerMeter","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":860,"y":540,"wires":[["95b42627.dbd758"]]},{"id":"95b42627.dbd758","type":"change","z":"4565fe59.9cdce","name":"","rules":[{"t":"set","p":"PowerMeter","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":540,"wires":[[]]}]