flows_smarthome.json
[{"id":"8bc58de.6c7987","type":"tab","label":"LINK_VAR","disabled":false,"info":""},{"id":"2fbc7670.a05e4a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7fca8997.78ed68","type":"tab","label":"xiaomy","disabled":false,"info":""},{"id":"fc938117.ce447","type":"tab","label":"KidsRoom_Heater","disabled":false,"info":""},{"id":"4e2c8d9b.9d5c84","type":"tab","label":"LivingRoom_Heater","disabled":false,"info":""},{"id":"13ce9b43.cfce65","type":"tab","label":"Kitchen_Heater","disabled":false,"info":""},{"id":"46162a38.a20e04","type":"tab","label":"Kitchen_Boiler","disabled":false,"info":""},{"id":"664f6067.c9a87","type":"tab","label":"Xiaomi GW","disabled":false,"info":""},{"id":"5101c6e3.603738","type":"mqtt-broker","z":"","name":"MQTT local","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82045cc3.201e1","type":"inject","z":"8bc58de.6c7987","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["66713d4f.974e64","a41ef611.c0ce58","474bca53.ca7564","caddeb97.d618d8","d0bd1f0d.77139","43061b79.da4054"]]},{"id":"86c4b9b.3f12c48","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Morning","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":140,"wires":[[]]},{"id":"85deee1f.e799f","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Day","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":240,"wires":[[]]},{"id":"89c8a209.6aba4","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Evening","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":340,"wires":[[]]},{"id":"6816acc8.99b734","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Night","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":440,"wires":[[]]},{"id":"4fcd815c.d8315","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["7e8b1b0a.590ee4"]]},{"id":"81e30d4c.ee833","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["d268a88.eb65558"]]},{"id":"45f48f18.6ed3d","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":320,"wires":[["3b05b793.926938"]]},{"id":"b797f6e7.489548","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":380,"wires":[["27a3c9f.4286736"]]},{"id":"3b05b793.926938","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Evening","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":340,"wires":[["c1651c9c.2cd23","89c8a209.6aba4"]]},{"id":"c1651c9c.2cd23","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":380,"wires":[["6816acc8.99b734","85deee1f.e799f","86c4b9b.3f12c48"]]},{"id":"7e8b1b0a.590ee4","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Morning","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":200,"wires":[["3051f320.4f04cc","86c4b9b.3f12c48"]]},{"id":"3051f320.4f04cc","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":160,"wires":[["85deee1f.e799f","89c8a209.6aba4","6816acc8.99b734"]]},{"id":"d268a88.eb65558","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Day","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":240,"wires":[["407e10fa.d271a","85deee1f.e799f"]]},{"id":"407e10fa.d271a","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":280,"wires":[["86c4b9b.3f12c48","89c8a209.6aba4","6816acc8.99b734"]]},{"id":"27a3c9f.4286736","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Night","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":440,"wires":[["23bd24c4.4e961c","6816acc8.99b734"]]},{"id":"23bd24c4.4e961c","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":480,"wires":[["89c8a209.6aba4","85deee1f.e799f","86c4b9b.3f12c48"]]},{"id":"5ae4f3cc.5fbf6c","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"holiday","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":760,"wires":[[]]},{"id":"ed5ef2ce.21577","type":"switch","z":"8bc58de.6c7987","name":"","property":"myday","propertyType":"msg","rules":[{"t":"eq","v":"Sat","vt":"str"},{"t":"eq","v":"Sun","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":760,"wires":[["12d6354b.c6091b"],["12d6354b.c6091b"]]},{"id":"12d6354b.c6091b","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":760,"wires":[["5ae4f3cc.5fbf6c","a96506ec.e7e6b8"]]},{"id":"a9377bf2.25c2f8","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"workweek","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":580,"wires":[[]]},{"id":"c945ca47.207a28","type":"switch","z":"8bc58de.6c7987","name":"","property":"myday","propertyType":"msg","rules":[{"t":"eq","v":"Mon","vt":"str"},{"t":"eq","v":"Tue","vt":"str"},{"t":"eq","v":"Wed","vt":"str"},{"t":"eq","v":"Thu","vt":"str"},{"t":"eq","v":"Fri","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":590,"y":580,"wires":[["ffc0353f.65a8c8"],["ffc0353f.65a8c8"],["ffc0353f.65a8c8"],["ffc0353f.65a8c8"],["ffc0353f.65a8c8"]]},{"id":"ffc0353f.65a8c8","type":"change","z":"8bc58de.6c7987","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":580,"wires":[["a9377bf2.25c2f8","49388900.31a168"]]},{"id":"49388900.31a168","type":"switch","z":"8bc58de.6c7987","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"workweek","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":945,"y":620,"wires":[["96154442.453088"]]},{"id":"96154442.453088","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1075,"y":620,"wires":[["5ae4f3cc.5fbf6c"]]},{"id":"a96506ec.e7e6b8","type":"switch","z":"8bc58de.6c7987","name":"","property":"holiday","propertyType":"msg","rules":[{"t":"neq","v":"Evening","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":944,"y":720,"wires":[["aed37523.977cb8"]]},{"id":"aed37523.977cb8","type":"change","z":"8bc58de.6c7987","name":"FALSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1074,"y":720,"wires":[["a9377bf2.25c2f8"]]},{"id":"5fdb1cb1.7afdf4","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":720,"wires":[["a1521202.90ff5"]]},{"id":"ff90761d.313db8","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":720,"wires":[["5fdb1cb1.7afdf4"]]},{"id":"a1521202.90ff5","type":"switch","z":"fc938117.ce447","name":"ENABLE_AUTO","property":"KidsRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":983,"y":660,"wires":[[],["3a2130aa.0decc"]]},{"id":"cfd71322.5ad9d","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_auto_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":553,"y":580,"wires":[["a1521202.90ff5","e2762ba5.c3b928"]]},{"id":"3a2130aa.0decc","type":"switch","z":"fc938117.ce447","name":"REGULATOR","property":"KidsRoom_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"KidsRoom_set_Temperature","vt":"flow"},{"t":"lt","v":"KidsRoom_set_Temperature","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":667,"wires":[["a4e18bb4.8fff08"],["b13b6cc4.e9d7d"]]},{"id":"defbbe56.3cd29","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":800,"wires":[["a1521202.90ff5","20985a50.6150f6"]]},{"id":"96cc3dc.63122c","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_set_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":220,"wires":[["516f64f1.38776c"]]},{"id":"77970740.888af8","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Auto_Heater","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":173,"y":580,"wires":[["cfd71322.5ad9d"]]},{"id":"a4e18bb4.8fff08","type":"change","z":"fc938117.ce447","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":580,"wires":[["86883c78.159ed"]]},{"id":"b13b6cc4.e9d7d","type":"change","z":"fc938117.ce447","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":727,"wires":[["86883c78.159ed"]]},{"id":"c57455a1.97fbc8","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"relay2/switch/alisa/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":800,"wires":[["defbbe56.3cd29"]]},{"id":"2d99a4b4.7fb5dc","type":"mqtt out","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Auto_Temperature","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1670,"y":220,"wires":[]},{"id":"86883c78.159ed","type":"switch","z":"fc938117.ce447","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"KidsRoom_Heater","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":660,"wires":[["406c06fc.af5f78"]]},{"id":"1851daee.49d425","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Set_Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":173,"y":80,"wires":[["b5110cce.32c0c"]]},{"id":"447c6467.858eac","type":"mqtt out","z":"fc938117.ce447","name":"","topic":"relay2/switch/alisa/command","qos":"0","retain":"false","broker":"5101c6e3.603738","x":2400,"y":660,"wires":[]},{"id":"979ee997.cf5348","type":"debug","z":"fc938117.ce447","name":"KidsRoom_Heater_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2380,"y":540,"wires":[]},{"id":"b5110cce.32c0c","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_set_Temp","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["a237800f.0dd97"]]},{"id":"1765d355.54aced","type":"change","z":"fc938117.ce447","name":"KidsRoom_set_Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"KidsRoom_set_Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["a237800f.0dd97"]]},{"id":"103d7e1f.241792","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Heater_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":1380,"y":800,"wires":[["86883c78.159ed"]]},{"id":"20985a50.6150f6","type":"mqtt out","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Heater_on","qos":"2","retain":"true","broker":"5101c6e3.603738","x":990,"y":800,"wires":[]},{"id":"e2762ba5.c3b928","type":"switch","z":"fc938117.ce447","name":"DISABLE_AUTO","property":"KidsRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":990,"y":580,"wires":[["a4e18bb4.8fff08"]]},{"id":"1dbb9fbf.8d629","type":"mqtt in","z":"46162a38.a20e04","name":"","topic":"Openhab_VAR/Kitchen/Night_Boiler","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":220,"y":100,"wires":[["b1fe20e4.f0aba"]]},{"id":"f3785e19.77b36","type":"mqtt out","z":"46162a38.a20e04","name":"","topic":"relay2/switch/boiler/command","qos":"0","retain":"false","broker":"5101c6e3.603738","x":1890,"y":220,"wires":[]},{"id":"56e65970.f4f8b8","type":"mqtt in","z":"46162a38.a20e04","name":"","topic":"Openhab_VAR/Kitchen/Boiler_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":420,"wires":[["67c3b062.18f21"]]},{"id":"a9858818.8e35c8","type":"mqtt in","z":"46162a38.a20e04","name":"","topic":"relay2/switch/boiler/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":130,"y":540,"wires":[["623661ce.9910c"]]},{"id":"6ecf5123.eb305","type":"mqtt out","z":"46162a38.a20e04","name":"","topic":"Openhab_VAR/Kitchen/Boiler_on","qos":"2","retain":"false","broker":"5101c6e3.603738","x":800,"y":540,"wires":[]},{"id":"1a2ed3bb.aea39c","type":"inject","z":"46162a38.a20e04","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["b79e4f87.48508"]]},{"id":"2c842f03.3d476","type":"change","z":"46162a38.a20e04","name":"AUTO_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":240,"wires":[["dbdc629c.bf472","8dc369c1.7f4d38"]]},{"id":"ef2b3ae8.730498","type":"change","z":"46162a38.a20e04","name":"AUTO_OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":300,"wires":[["dbdc629c.bf472","e769f1ba.1358e"]]},{"id":"b1fe20e4.f0aba","type":"change","z":"46162a38.a20e04","name":"","rules":[{"t":"set","p":"Nigt_Boiler_On","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":200,"wires":[["b79e4f87.48508"]]},{"id":"3535a0d8.8bf59","type":"debug","z":"46162a38.a20e04","name":"ESP_Kitchen_Boiler_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1710,"y":320,"wires":[]},{"id":"623661ce.9910c","type":"change","z":"46162a38.a20e04","name":"","rules":[{"t":"set","p":"Boiler_On","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":540,"wires":[["6ecf5123.eb305"]]},{"id":"67c3b062.18f21","type":"change","z":"46162a38.a20e04","name":"","rules":[{"t":"set","p":"Boiler_On_Man","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":340,"wires":[["b79e4f87.48508"]]},{"id":"f270cfef.17c87","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Kitchen/Humidity","qos":"0","retain":"true","broker":"5101c6e3.603738","x":630,"y":80,"wires":[]},{"id":"8e51b038.36b9","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Kitchen/Pressure","qos":"0","retain":"true","broker":"5101c6e3.603738","x":640,"y":112,"wires":[]},{"id":"bc554f0.bc64ab","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Kitchen/Temperature","qos":"0","retain":"true","broker":"5101c6e3.603738","x":650,"y":51,"wires":[]},{"id":"faed58fe.f91078","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/KidsRoom/Temperature","qos":"0","retain":"true","broker":"5101c6e3.603738","x":680,"y":300,"wires":[]},{"id":"a1761aa1.1b6618","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/KidsRoom/Humidity","qos":"0","retain":"true","broker":"5101c6e3.603738","x":660,"y":360,"wires":[]},{"id":"224012f4.94ba7e","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/LivingRoom/Humidity","qos":"0","retain":"true","broker":"5101c6e3.603738","x":690,"y":760,"wires":[]},{"id":"34821509.24e96a","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/LivingRoom/Temperature","qos":"0","retain":"true","broker":"5101c6e3.603738","x":700,"y":700,"wires":[]},{"id":"28e7f498.0aef6c","type":"debug","z":"7fca8997.78ed68","name":"KitchenRoom_HTP1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":20,"wires":[]},{"id":"4aa4a6ae.37ed68","type":"debug","z":"7fca8997.78ed68","name":"KidsRoom_HT1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":180,"wires":[]},{"id":"e5e0170f.6107e8","type":"debug","z":"7fca8997.78ed68","name":"LivingRoom_HT1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":580,"wires":[]},{"id":"7cdfd7a7.b98358","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":240,"wires":[["1765d355.54aced"]]},{"id":"57a78a01.4cf6d4","type":"inject","z":"fc938117.ce447","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["1765d355.54aced"]]},{"id":"8cdbcbe1.1fb1d8","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/KidsRoom_HT1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":240,"wires":[["cb783b0.8aa81c8"]]},{"id":"cb783b0.8aa81c8","type":"function","z":"7fca8997.78ed68","name":"KidsRoom_HT1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":340,"y":240,"wires":[["faed58fe.f91078","4aa4a6ae.37ed68"],["a1761aa1.1b6618","4aa4a6ae.37ed68"],[],["1b449f9e.ec5c3"],["9128efea.182cf"],["7eb8e879.f12428"]]},{"id":"47044f8f.898b9","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/LivingRoom_HT1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":633,"wires":[["7a9fb262.de175c"]]},{"id":"7a9fb262.de175c","type":"function","z":"7fca8997.78ed68","name":"LivingRoom_HT1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":350,"y":633,"wires":[["34821509.24e96a","e5e0170f.6107e8"],["224012f4.94ba7e","e5e0170f.6107e8"],[],["a1c515b.ec308e8"],["27d61437.e34a5c"],["364fcb79.11ac64"]]},{"id":"406c06fc.af5f78","type":"trigger","z":"fc938117.ce447","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1800,"y":700,"wires":[["979ee997.cf5348","447c6467.858eac"]]},{"id":"85ec2b7e.b918e8","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":660,"wires":[["a1521202.90ff5"]]},{"id":"f4907462.2be588","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/KidsRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":420,"wires":[["ddbbf759.b16588"]]},{"id":"ddbbf759.b16588","type":"change","z":"fc938117.ce447","name":"","rules":[{"t":"set","p":"KidsRoom_Auto_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":420,"wires":[[]]},{"id":"516f64f1.38776c","type":"switch","z":"fc938117.ce447","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"KidsRoom_Auto_Temperature","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":220,"wires":[["2d99a4b4.7fb5dc","193b2f2c.c6bac1"]]},{"id":"193b2f2c.c6bac1","type":"debug","z":"fc938117.ce447","name":"KidsRoom_Auto_Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1630,"y":160,"wires":[]},{"id":"6e2fbe4d.8973b","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":567,"y":640,"wires":[["5e6ffb4b.e2f604"]]},{"id":"95e08bc6.5261d8","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":177,"y":640,"wires":[["6e2fbe4d.8973b"]]},{"id":"5e6ffb4b.e2f604","type":"switch","z":"13ce9b43.cfce65","name":"ENABLE_AUTO","property":"Kitchen_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":820,"y":580,"wires":[["bc566ddf.9298a"]]},{"id":"1ea7afab.32ce3","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_auto_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["5e6ffb4b.e2f604","e0bfe042.744e7"]]},{"id":"516e6823.facad8","type":"switch","z":"13ce9b43.cfce65","name":"REGULATOR","property":"Kitchen_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"Kitchen_set_Temperature","vt":"flow"},{"t":"lt","v":"Kitchen_set_Temperature","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":1280,"y":580,"wires":[["3f8d3ade.e7e2f6"],["506102f4.d4bfbc"]]},{"id":"ed685545.560218","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":567,"y":720,"wires":[["5e6ffb4b.e2f604","43e7bb72.532ca4"]]},{"id":"456017f3.878938","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_set_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":120,"wires":[["59497236.79d4ac"]]},{"id":"15febd7c.d758f3","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Auto_Heater","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":180,"y":500,"wires":[["1ea7afab.32ce3"]]},{"id":"3f8d3ade.e7e2f6","type":"change","z":"13ce9b43.cfce65","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1447,"y":500,"wires":[["b4850db1.57b5e"]]},{"id":"506102f4.d4bfbc","type":"change","z":"13ce9b43.cfce65","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1447,"y":647,"wires":[["b4850db1.57b5e"]]},{"id":"9a60b5eb.7f1388","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"relay2/switch/kuhnia/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":147,"y":720,"wires":[["ed685545.560218"]]},{"id":"83daa094.330ab","type":"mqtt out","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Auto_Temperature","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1480,"y":120,"wires":[]},{"id":"b4850db1.57b5e","type":"switch","z":"13ce9b43.cfce65","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Kitchen_Heater","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1647,"y":580,"wires":[["2c0d499b.27e566"]]},{"id":"871c5ff1.63ab3","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Set_Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":183,"y":60,"wires":[["f884f161.c225f"]]},{"id":"8388f996.853bf8","type":"mqtt out","z":"13ce9b43.cfce65","name":"","topic":"relay2/switch/kuhnia/command","qos":"0","retain":"true","broker":"5101c6e3.603738","x":2450,"y":480,"wires":[]},{"id":"cbd1799e.bfe9a8","type":"debug","z":"13ce9b43.cfce65","name":"Kitchen_Heater_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2410,"y":580,"wires":[]},{"id":"f884f161.c225f","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_set_Temp","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":60,"wires":[["f110e7c9.06cb68"]]},{"id":"795ef031.977aa","type":"change","z":"13ce9b43.cfce65","name":"Kitchen_set_Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"Kitchen_set_Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["f110e7c9.06cb68"]]},{"id":"8272bcc5.7a50b","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Heater_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":1387,"y":720,"wires":[["b4850db1.57b5e"]]},{"id":"43e7bb72.532ca4","type":"mqtt out","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Heater_on","qos":"2","retain":"true","broker":"5101c6e3.603738","x":997,"y":720,"wires":[]},{"id":"e0bfe042.744e7","type":"switch","z":"13ce9b43.cfce65","name":"DISABLE_AUTO","property":"Kitchen_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1007,"y":500,"wires":[["3f8d3ade.e7e2f6"]]},{"id":"865ad24a.7f57","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":220,"wires":[["795ef031.977aa"]]},{"id":"677e1203.cea89c","type":"inject","z":"13ce9b43.cfce65","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["795ef031.977aa"]]},{"id":"2c0d499b.27e566","type":"trigger","z":"13ce9b43.cfce65","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1817,"y":620,"wires":[["8388f996.853bf8","cbd1799e.bfe9a8"]]},{"id":"bc4377ee.a3d008","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":197,"y":580,"wires":[["5e6ffb4b.e2f604"]]},{"id":"1d0b371b.6d7789","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":180,"y":320,"wires":[["5eabec00.694b64"]]},{"id":"5eabec00.694b64","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_Auto_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[[]]},{"id":"59497236.79d4ac","type":"switch","z":"13ce9b43.cfce65","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Kitchen_Auto_Temperature","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":120,"wires":[["83daa094.330ab","ccd8cb96.a7caa8"]]},{"id":"ccd8cb96.a7caa8","type":"debug","z":"13ce9b43.cfce65","name":"Kitchen_Auto_Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1440,"y":60,"wires":[]},{"id":"dbdc629c.bf472","type":"switch","z":"46162a38.a20e04","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Boiler_On","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":300,"wires":[["97170100.90307"]]},{"id":"97170100.90307","type":"trigger","z":"46162a38.a20e04","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1340,"y":300,"wires":[["3535a0d8.8bf59","f3785e19.77b36"]]},{"id":"148320b1.7c47af","type":"switch","z":"46162a38.a20e04","name":"","property":"Boiler_On_Man","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":300,"wires":[["ef2b3ae8.730498"],["2ab31d53.244732"]]},{"id":"2ab31d53.244732","type":"change","z":"46162a38.a20e04","name":"MAN_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":360,"wires":[["dbdc629c.bf472"]]},{"id":"bf85e503.ac09f8","type":"switch","z":"46162a38.a20e04","name":"","property":"Nigt_Boiler_On","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":240,"wires":[["2c842f03.3d476"]]},{"id":"6b118dfc.e36ca4","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_set_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":240,"wires":[["ef4dd863.2cd038","494dc2cc.1fd5ac"]]},{"id":"d5d5a002.ad6fb","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Temperature","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1600,"y":240,"wires":[]},{"id":"4af26d3f.022c94","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Set_Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":213,"y":100,"wires":[["638fffe4.824b2"]]},{"id":"638fffe4.824b2","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_set_Temp","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["595f393e.e503d8"]]},{"id":"93994576.35ecc8","type":"change","z":"4e2c8d9b.9d5c84","name":"LivingRoom_set_Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"LivingRoom_set_Temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":260,"wires":[["595f393e.e503d8"]]},{"id":"80056ae0.a74b48","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":240,"wires":[["93994576.35ecc8"]]},{"id":"5410fe8f.c5a0e","type":"inject","z":"4e2c8d9b.9d5c84","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["93994576.35ecc8"]]},{"id":"4a8ecd3d.ebd7c4","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":440,"wires":[["944d7516.124678"]]},{"id":"944d7516.124678","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Auto_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":380,"wires":[[]]},{"id":"ef4dd863.2cd038","type":"switch","z":"4e2c8d9b.9d5c84","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"LivingRoom_Auto_Temperature","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":240,"wires":[["45325e7d.206b","d5d5a002.ad6fb"]]},{"id":"45325e7d.206b","type":"debug","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Auto_Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1490,"y":180,"wires":[]},{"id":"cde2bf72.4f39c","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_set_Temperature2","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":320,"wires":[[]]},{"id":"105fd1d9.b62b8e","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["27e0ee80.90db32"]]},{"id":"8636dac.b478428","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":202,"y":783,"wires":[["105fd1d9.b62b8e"]]},{"id":"27e0ee80.90db32","type":"switch","z":"4e2c8d9b.9d5c84","name":"ENABLE_AUTO","property":"LivingRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":820,"y":720,"wires":[["3acf20a2.14476"]]},{"id":"a5103d15.8241d","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_auto_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":583,"y":640,"wires":[["27e0ee80.90db32","79c45c39.9e69e4"]]},{"id":"b0fdac64.697f","type":"switch","z":"4e2c8d9b.9d5c84","name":"REGULATOR","property":"LivingRoom_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"LivingRoom_set_Temperature","vt":"flow"},{"t":"lt","v":"LivingRoom_set_Temperature2","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":1300,"y":720,"wires":[["52a6b7c2.93fc28"],["918d134b.84982"]]},{"id":"d4f51382.5c1b4","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Heater1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[["27e0ee80.90db32","d20037b2.eb1138"]]},{"id":"66a0ac05.e9a2f4","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Heater","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":205,"y":641,"wires":[["a5103d15.8241d"]]},{"id":"52a6b7c2.93fc28","type":"change","z":"4e2c8d9b.9d5c84","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":640,"wires":[["17d070ea.64a01f"]]},{"id":"918d134b.84982","type":"change","z":"4e2c8d9b.9d5c84","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":787,"wires":[["17d070ea.64a01f"]]},{"id":"f2e36a63.9e7b48","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"relay2/switch/zal_1/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":150,"y":860,"wires":[["d4f51382.5c1b4"]]},{"id":"17d070ea.64a01f","type":"switch","z":"4e2c8d9b.9d5c84","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"LivingRoom_Heater1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":720,"wires":[["666ff79b.f123d8"]]},{"id":"bc16f4b2.8f2248","type":"debug","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Heater1_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2090,"y":860,"wires":[]},{"id":"b7484e39.65f7","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Heater1_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":1410,"y":860,"wires":[["17d070ea.64a01f"]]},{"id":"d20037b2.eb1138","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Heater1_on","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1020,"y":860,"wires":[]},{"id":"79c45c39.9e69e4","type":"switch","z":"4e2c8d9b.9d5c84","name":"DISABLE_AUTO","property":"LivingRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1010,"y":640,"wires":[["52a6b7c2.93fc28"]]},{"id":"666ff79b.f123d8","type":"trigger","z":"4e2c8d9b.9d5c84","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1820,"y":760,"wires":[["bc16f4b2.8f2248","12872305.e37eed"]]},{"id":"f6939fd2.79e3d","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":223,"y":720,"wires":[["27e0ee80.90db32"]]},{"id":"12872305.e37eed","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"relay2/switch/zal_1/command","qos":"0","retain":"false","broker":"5101c6e3.603738","x":2210,"y":620,"wires":[]},{"id":"e968e41b.0eec98","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Heater2_on_set","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":1407,"y":1420,"wires":[["44ca3b7f.063914"]]},{"id":"44ca3b7f.063914","type":"switch","z":"4e2c8d9b.9d5c84","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"LivingRoom_Heater2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1670,"y":1280,"wires":[["430637da.fd24f8"]]},{"id":"e7388c95.4cd1d","type":"change","z":"4e2c8d9b.9d5c84","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1447,"y":1200,"wires":[["44ca3b7f.063914","a4b44c95.fb154","953f9c8a.5f1ed"]]},{"id":"491ef9d6.8f20f8","type":"change","z":"4e2c8d9b.9d5c84","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1447,"y":1347,"wires":[["44ca3b7f.063914","a4b44c95.fb154"]]},{"id":"430637da.fd24f8","type":"trigger","z":"4e2c8d9b.9d5c84","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"200","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1817,"y":1320,"wires":[["1b67f7d3.7b65e8","1efd60ba.aebc9f"]]},{"id":"ab508342.e5402","type":"switch","z":"4e2c8d9b.9d5c84","name":"REGULATOR","property":"LivingRoom_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"LivingRoom_set_Temperature","vt":"flow"},{"t":"lt","v":"LivingRoom_set_Temperature","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":1300,"y":1280,"wires":[["e7388c95.4cd1d"],["491ef9d6.8f20f8"]]},{"id":"597c6b62.fbdb84","type":"switch","z":"4e2c8d9b.9d5c84","name":"DISABLE_AUTO","property":"LivingRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1007,"y":1200,"wires":[["e7388c95.4cd1d"]]},{"id":"1b67f7d3.7b65e8","type":"debug","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Heater2_set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2087,"y":1420,"wires":[]},{"id":"1efd60ba.aebc9f","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"relay2/switch/zal_2/command","qos":"0","retain":"false","broker":"5101c6e3.603738","x":2117,"y":1320,"wires":[]},{"id":"13282a2e.5256e6","type":"switch","z":"4e2c8d9b.9d5c84","name":"ENABLE_AUTO","property":"LivingRoom_auto_Heater","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":840,"y":1280,"wires":[["45c530db.2289b"]]},{"id":"8d9e7501.08d478","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_auto_Heater","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1200,"wires":[["13282a2e.5256e6","597c6b62.fbdb84"]]},{"id":"2caacd65.0d0f92","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Temperature","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":577,"y":1340,"wires":[["13282a2e.5256e6"]]},{"id":"9654286f.2b2d08","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Heater2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":577,"y":1420,"wires":[["13282a2e.5256e6","4d1b1c9b.6c01b4"]]},{"id":"c763f4fb.733558","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Temperature","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":210,"y":1274,"wires":[["13282a2e.5256e6"]]},{"id":"e24a4967.193068","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Auto_Heater","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":200,"y":1200,"wires":[["8d9e7501.08d478"]]},{"id":"e20ddb8e.66db98","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Temperature","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":197,"y":1340,"wires":[["2caacd65.0d0f92"]]},{"id":"4d1b1c9b.6c01b4","type":"mqtt out","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Heater2_on","qos":"2","retain":"true","broker":"5101c6e3.603738","x":1017,"y":1420,"wires":[]},{"id":"d46a6af7.258a88","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"relay2/switch/zal_2/state","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":149,"y":1420,"wires":[["9654286f.2b2d08"]]},{"id":"77be7bde.26c3f4","type":"function","z":"7fca8997.78ed68","name":"KitchenRoom_HTP1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\n\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":340,"y":80,"wires":[["bc554f0.bc64ab","28e7f498.0aef6c"],["f270cfef.17c87","28e7f498.0aef6c"],["8e51b038.36b9","28e7f498.0aef6c"],["e8f0ea6c.4cfaa8"],["aaffcdb2.95bc7"],["9b2f402e.66f76"]]},{"id":"466683cc.1f1f9c","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/Kitchen_HTP1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":110,"y":80,"wires":[["77be7bde.26c3f4"]]},{"id":"f77887e.4f59978","type":"function","z":"7fca8997.78ed68","name":"LivingRoom_CS1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar contact = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\nif (data.contact) {\n    contact = {\"payload\": \"CLOSED\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"CLOSED\"}); \n}\nelse\n{\n    contact = {\"payload\": \"OPEN\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"OPEN\"}); \n}\n\nnode.send([ voltage, linkquality,battery,contact]);\n","outputs":4,"noerr":0,"x":350,"y":1260,"wires":[["513f0ab9.5860a4"],["8103f53e.00a3b8"],["4efc23aa.590c9c"],["57e37acc.c2bdc4","ed2d1744.3fc838"]]},{"id":"3e99baef.d291e6","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/LivingRoom_CS1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":1260,"wires":[["f77887e.4f59978"]]},{"id":"57e37acc.c2bdc4","type":"debug","z":"7fca8997.78ed68","name":"LivingRoom_CS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":1220,"wires":[]},{"id":"4b1efc45.7cf294","type":"inject","z":"7fca8997.78ed68","name":"CLOSED","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":true}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1320,"wires":[["f77887e.4f59978"]]},{"id":"425b632.ac57e9c","type":"inject","z":"7fca8997.78ed68","name":"OPEN","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1360,"wires":[["f77887e.4f59978"]]},{"id":"ed2d1744.3fc838","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/LivingRoom/Window1","qos":"0","retain":"true","broker":"5101c6e3.603738","x":610,"y":1280,"wires":[]},{"id":"13f481f6.e4b3ee","type":"function","z":"7fca8997.78ed68","name":"KitchenRoom_CS1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar contact = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\nif (data.contact) {\n    contact = {\"payload\": \"CLOSED\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"CLOSED\"}); \n}\nelse\n{\n    contact = {\"payload\": \"OPEN\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"OPEN\"}); \n}\n\nnode.send([ voltage, linkquality,battery,contact]);\n","outputs":4,"noerr":0,"x":330,"y":1080,"wires":[["d9bf8aa3.287bb8"],["4397e06c.3d95c"],["afe8c704.954038"],["e752c316.6fd8c","57fc3b9e.eeaf74"]]},{"id":"7f8de103.2883d","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/Kitchen_CS1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":110,"y":1080,"wires":[["13f481f6.e4b3ee"]]},{"id":"e752c316.6fd8c","type":"debug","z":"7fca8997.78ed68","name":"KitchenRoom_CS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":1047,"wires":[]},{"id":"57fc3b9e.eeaf74","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Kitchen/Window","qos":"0","retain":"true","broker":"5101c6e3.603738","x":610,"y":1100,"wires":[]},{"id":"c3ebee07.9f7e","type":"inject","z":"7fca8997.78ed68","name":"CLOSED","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":true}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1140,"wires":[["13f481f6.e4b3ee"]]},{"id":"1b550f06.df9bd1","type":"inject","z":"7fca8997.78ed68","name":"OPEN","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1180,"wires":[["13f481f6.e4b3ee"]]},{"id":"a23bb6f5.683b98","type":"debug","z":"664f6067.c9a87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":60,"wires":[]},{"id":"6ef00baf.ceed74","type":"switch","z":"664f6067.c9a87","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"neq","v":"heartbeat","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":60,"wires":[["a23bb6f5.683b98"]]},{"id":"dfd4c626.5e6538","type":"json","z":"664f6067.c9a87","name":"","property":"payload","action":"","pretty":false,"x":270,"y":60,"wires":[["6ef00baf.ceed74","4c880342.a6049c"]]},{"id":"33a5f505.cf1a5a","type":"udp in","z":"664f6067.c9a87","name":"","iface":"","port":"9898","ipv":"udp4","multicast":"true","group":"224.0.0.50","datatype":"utf8","x":90,"y":60,"wires":[["dfd4c626.5e6538","6e493ef0.a1ec6"]]},{"id":"4c880342.a6049c","type":"function","z":"664f6067.c9a87","name":"Generate-key GW","func":"var crypto = global.get('cryptoModule');\n// ,   ,          \nvar iv = Buffer.from([0x17, 0x99, 0x6d, 0x09, 0x3d, 0x28, 0xdd, 0xb3, 0xba, 0x69, 0x5a, 0x2e, 0x6f, 0x58, 0x56, 0x2e]);\nvar payload = msg.payload;\nvar newmsg = null;\nif  ((payload.cmd) && (payload.cmd==\"heartbeat\") &&\n(payload.model) && (payload.model==\"gateway\") &&\n(payload.sid) && (payload.sid == \"04cf8ca08a07\") &&\n(payload.data))\n{\nvar data = JSON.parse(payload.data);\nif ((data.ip==\"192.168.10.150\") && (payload.token))\n{\n       var lastToken = payload.token; //  ,   \n       var password = '7612bblur50mxeo9'; //        ,      \n       var cipher = crypto.createCipheriv('aes-128-cbc', password, iv); //   cipher\n       var key = cipher.update(lastToken, \"ascii\", \"hex\"); //  \n       cipher.final('hex'); //   hex\n       flow.set(\"xiaomikey\",key); //     xiaomikey,    -  flow.\n       newmsg = {payload: key};\n       return newmsg;\n}\n}","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["b2e19f9b.e5cb1"]]},{"id":"b2e19f9b.e5cb1","type":"debug","z":"664f6067.c9a87","name":"Key","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"a4a0b0b5.ee063","type":"function","z":"664f6067.c9a87","name":"","func":"var key = flow.get('xiaomikey')||''; //   xiaomikey\n//  JSON,    \"key\"\nmsg.payload = '{\"cmd\":\"write\",\"model\":\"gateway\",\"sid\":\"04cf8ca08a07\",\"data\":\"{\\\\\"key\\\\\":\\\\\"' + key + '\\\\\",\\\\\"rgb\\\\\":1594433294,\\\\\"illumination\\\\\":523}\"}';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["cbe01533.59ba18","fece8a12.2b8798"]]},{"id":"6e493ef0.a1ec6","type":"debug","z":"664f6067.c9a87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":200,"wires":[]},{"id":"3c3bcfee.680db","type":"inject","z":"664f6067.c9a87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["a4a0b0b5.ee063"]]},{"id":"cbe01533.59ba18","type":"debug","z":"664f6067.c9a87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":300,"wires":[]},{"id":"fece8a12.2b8798","type":"udp out","z":"664f6067.c9a87","name":"","addr":"192.168.10.150","iface":"","port":"9898","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":610,"y":420,"wires":[]},{"id":"6a9e10bf.f68c5","type":"function","z":"664f6067.c9a87","name":"","func":"var key = flow.get('xiaomikey')||''; //   xiaomikey\n//  JSON,    \"key\"\nmsg.payload = '{\"cmd\":\"write\",\"model\":\"gateway\",\"sid\":\"04cf8ca08a07\",\"data\":\"{\\\\\"key\\\\\":\\\\\"' + key + '\\\\\",\\\\\"rgb\\\\\":0,\\\\\"illumination\\\\\":523}\"}';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["fece8a12.2b8798"]]},{"id":"327c0b4d.273b94","type":"inject","z":"664f6067.c9a87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["6a9e10bf.f68c5"]]},{"id":"8e53dbad.d58468","type":"function","z":"664f6067.c9a87","name":"","func":"var key = flow.get('xiaomikey')||''; //   xiaomikey\n//  JSON,    \"key\"\nmsg.payload = '{\"cmd\":\"write\",\"model\":\"gateway\",\"sid\":\"04cf8ca08a07\",\"data\":\"{\\\\\"key\\\\\":\\\\\"' + key + '\\\\\",\\\\\"mid\\\\\":1001,\\\\\"volume\\\\\":20}\"}';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":520,"wires":[["fece8a12.2b8798"]]},{"id":"3972770b.828138","type":"inject","z":"664f6067.c9a87","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["8e53dbad.d58468"]]},{"id":"8ad6627c.64542","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Kitchen/Window","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":170,"y":440,"wires":[["a2b80c22.95c93"]]},{"id":"a2b80c22.95c93","type":"change","z":"13ce9b43.cfce65","name":"","rules":[{"t":"set","p":"Kitchen_Window","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[["f1493fb2.5d42a","5e6ffb4b.e2f604"]]},{"id":"f1493fb2.5d42a","type":"switch","z":"13ce9b43.cfce65","name":"Kitchen_Window_OPEN","property":"Kitchen_Window","propertyType":"flow","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":440,"wires":[["3f8d3ade.e7e2f6"]]},{"id":"bc566ddf.9298a","type":"switch","z":"13ce9b43.cfce65","name":"Kitchen_Window_CLOSED","property":"Kitchen_Window","propertyType":"flow","rules":[{"t":"eq","v":"CLOSED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":580,"wires":[["516e6823.facad8"]]},{"id":"7c39b862.d15f98","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Window1","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":190,"y":560,"wires":[["a4581cc8.cafa9"]]},{"id":"a4581cc8.cafa9","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Window1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":560,"wires":[["ce30822c.d464b","27e0ee80.90db32"]]},{"id":"ce30822c.d464b","type":"switch","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Window_OPEN","property":"LivingRoom_Window1","propertyType":"flow","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":560,"wires":[["52a6b7c2.93fc28"]]},{"id":"3acf20a2.14476","type":"switch","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Window_CLOSED","property":"LivingRoom_Window1","propertyType":"flow","rules":[{"t":"eq","v":"CLOSED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":720,"wires":[["b0fdac64.697f"]]},{"id":"f8600219.4755c","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/LivingRoom/Window1","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":193,"y":1135,"wires":[["e11a2647.89b0f8"]]},{"id":"e11a2647.89b0f8","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"LivingRoom_Window1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":573,"y":1135,"wires":[["c9eb25a1.582fc8","13282a2e.5256e6"]]},{"id":"c9eb25a1.582fc8","type":"switch","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Window_OPEN","property":"LivingRoom_Window1","propertyType":"flow","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1003,"y":1135,"wires":[["e7388c95.4cd1d"]]},{"id":"45c530db.2289b","type":"switch","z":"4e2c8d9b.9d5c84","name":"LivingRoom_Window_CLOSED","property":"LivingRoom_Window1","propertyType":"flow","rules":[{"t":"eq","v":"CLOSED","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":1280,"wires":[["ab508342.e5402"]]},{"id":"9b2f402e.66f76","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_HTP1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":140,"wires":[]},{"id":"e8f0ea6c.4cfaa8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_HTP1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":60,"wires":[]},{"id":"aaffcdb2.95bc7","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_HTP1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1030,"y":100,"wires":[]},{"id":"7eb8e879.f12428","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":280,"wires":[]},{"id":"1b449f9e.ec5c3","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":200,"wires":[]},{"id":"9128efea.182cf","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1000,"y":240,"wires":[]},{"id":"364fcb79.11ac64","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_HT1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":673,"wires":[]},{"id":"a1c515b.ec308e8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_HT1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1000,"y":593,"wires":[]},{"id":"27d61437.e34a5c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_HT1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1000,"y":633,"wires":[]},{"id":"afe8c704.954038","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_CS1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1120,"wires":[]},{"id":"d9bf8aa3.287bb8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_CS1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1040,"wires":[]},{"id":"4397e06c.3d95c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KitchenRoom_CS1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":970,"y":1080,"wires":[]},{"id":"4efc23aa.590c9c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_CS1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":950,"y":1300,"wires":[]},{"id":"513f0ab9.5860a4","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_CS1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1220,"wires":[]},{"id":"8103f53e.00a3b8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/LivingRoom_CS1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1260,"wires":[]},{"id":"38d6dbd2.9bc1f4","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/KidsRoom_HT2","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":400,"wires":[["c240f4f7.68ccf8"]]},{"id":"c240f4f7.68ccf8","type":"function","z":"7fca8997.78ed68","name":"KidsRoom_HT2","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":340,"y":400,"wires":[["7915d107.8df0e","faed58fe.f91078"],["7915d107.8df0e","a1761aa1.1b6618"],[],["3b073107.234e6e"],["8e4f40e9.5ce4d"],["c13d96f5.109fc8"]]},{"id":"7915d107.8df0e","type":"debug","z":"7fca8997.78ed68","name":"KidsRoom_HT2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":320,"wires":[]},{"id":"c13d96f5.109fc8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT2/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":440,"wires":[]},{"id":"3b073107.234e6e","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT2/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":990,"y":360,"wires":[]},{"id":"8e4f40e9.5ce4d","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/KidsRoom_HT2/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1000,"y":400,"wires":[]},{"id":"453ea9e1.a7c668","type":"function","z":"7fca8997.78ed68","name":"Server_HT1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n//var data = payload.data;\n\nvar temp = null;\nvar humidity = null;\nvar pressure = null;\nvar voltage = null;\nvar linkquality=null;\nvar battery=null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"battery\"});\nif (data.temperature){\n    data.temperature = Number(data.temperature)\n    temp = {\"payload\": data.temperature};\n}\nif (data.humidity) {\n    data.humidity = Number(data.humidity)\n    humidity = {\"payload\": data.humidity};\n    \n}\nif (data.pressure) {\n    data.pressure = Number(Math.round(data.pressure * 0.750063755419211 / 100));\n    pressure = {\"payload\": data.pressure};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\nif (data.voltage) {\n    if (data.voltage < 2500) {\n        node.status({fill:\"red\",shape:\"dot\",text:data.voltage});\n    } \n    else if (data.voltage < 2900) {\n        node.status({fill:\"yellow\",shape:\"dot\",text:data.voltage});\n    } \n    else {\n        node.status({fill:\"green\",shape:\"dot\",text:data.voltage});\n    }\n}\n\nnode.send([temp, humidity, pressure, voltage, linkquality,battery]);","outputs":6,"noerr":0,"x":330,"y":1700,"wires":[["25ff2c29.f0e8f4","efeb8522.1d9ce8"],["25ff2c29.f0e8f4","e1bc4f5c.67523"],[],["2bd038f5.9fdaa8"],["c56ec596.be3dd8"],["a82b128d.8305f"]]},{"id":"744ae97f.0280c8","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/Server_HT1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":110,"y":1700,"wires":[["453ea9e1.a7c668"]]},{"id":"25ff2c29.f0e8f4","type":"debug","z":"7fca8997.78ed68","name":"Server_HT1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":1620,"wires":[]},{"id":"2bd038f5.9fdaa8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/Srv_HT/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":970,"y":1660,"wires":[]},{"id":"c56ec596.be3dd8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/Srv_HT/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":970,"y":1700,"wires":[]},{"id":"a82b128d.8305f","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/Srv_HT/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1740,"wires":[]},{"id":"8dc369c1.7f4d38","type":"debug","z":"46162a38.a20e04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1260,"y":180,"wires":[]},{"id":"66713d4f.974e64","type":"time-switch","z":"8bc58de.6c7987","name":"","lat":"","lon":"","startTime":"05:00","endTime":"7:30","startOffset":0,"endOffset":"0","x":390,"y":180,"wires":[["4fcd815c.d8315"],[]]},{"id":"caddeb97.d618d8","type":"time-switch","z":"8bc58de.6c7987","name":"","lat":"","lon":"","startTime":"7:30","endTime":"16:00","startOffset":0,"endOffset":"0","x":370,"y":260,"wires":[["81e30d4c.ee833"],[]]},{"id":"a41ef611.c0ce58","type":"time-switch","z":"8bc58de.6c7987","name":"","lat":"","lon":"","startTime":"16:00","endTime":"22:30","startOffset":0,"endOffset":"0","x":370,"y":320,"wires":[["45f48f18.6ed3d"],[]]},{"id":"474bca53.ca7564","type":"time-switch","z":"8bc58de.6c7987","name":"","lat":"","lon":"","startTime":"22:30","endTime":"05:00","startOffset":0,"endOffset":"0","x":370,"y":380,"wires":[["b797f6e7.489548"],[]]},{"id":"b79e4f87.48508","type":"time-switch","z":"46162a38.a20e04","name":"","lat":"","lon":"","startTime":"00:00","endTime":"6:00","startOffset":0,"endOffset":"0","x":510,"y":260,"wires":[["bf85e503.ac09f8"],["148320b1.7c47af"]]},{"id":"d0bd1f0d.77139","type":"simpletime","z":"8bc58de.6c7987","name":"","x":410,"y":760,"wires":[["ed5ef2ce.21577"]]},{"id":"43061b79.da4054","type":"simpletime","z":"8bc58de.6c7987","name":"","x":410,"y":580,"wires":[["c945ca47.207a28"]]},{"id":"e769f1ba.1358e","type":"debug","z":"46162a38.a20e04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1240,"y":420,"wires":[]},{"id":"aec3649d.bea318","type":"function","z":"7fca8997.78ed68","name":"MainDoor_CS1","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar contact = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\nif (data.contact) {\n    contact = {\"payload\": \"CLOSED\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"CLOSED\"}); \n}\nelse\n{\n    contact = {\"payload\": \"OPEN\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"OPEN\"}); \n}\n\nnode.send([ voltage, linkquality,battery,contact]);\n","outputs":4,"noerr":0,"x":340,"y":1460,"wires":[["77f584ac.12cc5c"],["9054be77.839dc"],["dc28966f.5ea118"],["56690740.173a88","fe18631f.6169e"]]},{"id":"671cd69b.9e6bb8","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/MainDoor_CS1","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":1460,"wires":[["aec3649d.bea318"]]},{"id":"56690740.173a88","type":"debug","z":"7fca8997.78ed68","name":"MainDoor_CS1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":1420,"wires":[]},{"id":"641a7eab.7b54c","type":"inject","z":"7fca8997.78ed68","name":"CLOSED","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":true}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1520,"wires":[["aec3649d.bea318"]]},{"id":"15ade450.a75c0c","type":"inject","z":"7fca8997.78ed68","name":"OPEN","topic":"","payload":"{\"battery\":100,\"voltage\":3055,\"linkquality\":107,\"contact\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1560,"wires":[["aec3649d.bea318"]]},{"id":"fe18631f.6169e","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/Main_Door","qos":"0","retain":"true","broker":"5101c6e3.603738","x":600,"y":1480,"wires":[]},{"id":"dc28966f.5ea118","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_CS1/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":950,"y":1500,"wires":[]},{"id":"77f584ac.12cc5c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_CS1/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":950,"y":1420,"wires":[]},{"id":"9054be77.839dc","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_CS1/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":960,"y":1460,"wires":[]},{"id":"e1bc4f5c.67523","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/Humidity_srv","qos":"0","retain":"true","broker":"5101c6e3.603738","x":640,"y":1640,"wires":[]},{"id":"efeb8522.1d9ce8","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/Temperature_srv","qos":"0","retain":"true","broker":"5101c6e3.603738","x":660,"y":1580,"wires":[]},{"id":"1e37908f.f49c7f","type":"inject","z":"2fbc7670.a05e4a","name":"","topic":"","payload":"T_Kof","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":940,"wires":[["6e1c2ba4.42ea14"]]},{"id":"6e1c2ba4.42ea14","type":"debug","z":"2fbc7670.a05e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":940,"wires":[]},{"id":"e80d7b46.823328","type":"inject","z":"2fbc7670.a05e4a","name":"","topic":"","payload":"Home_Alarm_ON","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1000,"wires":[["c8609df4.5f79d"]]},{"id":"c8609df4.5f79d","type":"debug","z":"2fbc7670.a05e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1000,"wires":[]},{"id":"6618a00a.2b923","type":"function","z":"2fbc7670.a05e4a","name":"-2","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":760,"wires":[["ceef0612.eee3a8"]]},{"id":"6ca8be20.3affd","type":"inject","z":"2fbc7670.a05e4a","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":780,"wires":[["6618a00a.2b923"]]},{"id":"ceef0612.eee3a8","type":"debug","z":"2fbc7670.a05e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":800,"wires":[]},{"id":"7f63d6d.25efe28","type":"inject","z":"2fbc7670.a05e4a","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":860,"wires":[["6618a00a.2b923"]]},{"id":"a237800f.0dd97","type":"function","z":"fc938117.ce447","name":"- T_Kof","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":220,"wires":[["96cc3dc.63122c"]]},{"id":"22fbde54.9d61f2","type":"mqtt in","z":"fc938117.ce447","name":"","topic":"Openhab_VAR/Home/T_Kof","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":120,"y":340,"wires":[["1765d355.54aced"]]},{"id":"595f393e.e503d8","type":"function","z":"4e2c8d9b.9d5c84","name":"- T_Kof","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["6b118dfc.e36ca4"]]},{"id":"a7ae56b.949cfa8","type":"mqtt in","z":"4e2c8d9b.9d5c84","name":"","topic":"Openhab_VAR/Home/T_Kof","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":300,"wires":[["93994576.35ecc8"]]},{"id":"adbc52f2.0f373","type":"mqtt in","z":"13ce9b43.cfce65","name":"","topic":"Openhab_VAR/Home/T_Kof","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":280,"wires":[["795ef031.977aa"]]},{"id":"f110e7c9.06cb68","type":"function","z":"13ce9b43.cfce65","name":"- T_Kof","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["456017f3.878938"]]},{"id":"94532cb7.1f3ff","type":"switch","z":"8bc58de.6c7987","name":"Evening","property":"Evening","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":1000,"wires":[["bdf451ff.b6b9c"]]},{"id":"c96882f.8f2788","type":"switch","z":"8bc58de.6c7987","name":"Night","property":"Night","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1120,"wires":[["8d3dc7df.3cda78"]]},{"id":"4024eac9.632e94","type":"switch","z":"8bc58de.6c7987","name":"Morning","property":"Morning","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":563,"y":900,"wires":[["333883dd.fed88c"]]},{"id":"300284fa.317e1c","type":"switch","z":"8bc58de.6c7987","name":"Day","property":"Day","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":553,"y":940,"wires":[["28e3d91f.e767b6"]]},{"id":"8b32fb0b.e38548","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Home_Alarm_ON","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":40,"wires":[[]]},{"id":"3e92ef17.1042","type":"mqtt in","z":"8bc58de.6c7987","name":"","topic":"Openhab_VAR/Home/Home_Alarm","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":180,"y":40,"wires":[["8b32fb0b.e38548"]]},{"id":"5cca15d3.77ec0c","type":"inject","z":"8bc58de.6c7987","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1060,"wires":[["eac36686.68e148"]]},{"id":"8d3dc7df.3cda78","type":"change","z":"8bc58de.6c7987","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"T_Kof_set","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1100,"wires":[["124fa4c2.7e092b"]]},{"id":"cf73e03d.3941f","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"T_Kof","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1000,"wires":[[]]},{"id":"bdf451ff.b6b9c","type":"change","z":"8bc58de.6c7987","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1040,"wires":[["124fa4c2.7e092b"]]},{"id":"124fa4c2.7e092b","type":"switch","z":"8bc58de.6c7987","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"T_Kof","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":1000,"wires":[["cf73e03d.3941f"]]},{"id":"d72254f1.5cc9c8","type":"mqtt in","z":"8bc58de.6c7987","name":"","topic":"Openhab_VAR/Home/T_Kof","qos":"2","datatype":"auto","broker":"5101c6e3.603738","x":160,"y":840,"wires":[["9b00eebd.3ff72"]]},{"id":"9b00eebd.3ff72","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"T_Kof_set","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":920,"wires":[["eac36686.68e148"]]},{"id":"16eeb752.6d8239","type":"change","z":"2fbc7670.a05e4a","name":"TRUE","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":400,"wires":[["4093250e.27c4fc"]]},{"id":"718d98dc.c46968","type":"switch","z":"2fbc7670.a05e4a","name":"Morning","property":"Morning","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":360,"wires":[[]]},{"id":"c2324d7.744ebb","type":"switch","z":"2fbc7670.a05e4a","name":"Day","property":"Day","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":110,"y":120,"wires":[[]]},{"id":"3a031290.211d8e","type":"switch","z":"2fbc7670.a05e4a","name":"Evening","property":"Evening","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":180,"wires":[[]]},{"id":"7683663.88ce098","type":"switch","z":"2fbc7670.a05e4a","name":"Night","property":"Night","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":240,"wires":[[]]},{"id":"fc3fe182.ad77d","type":"switch","z":"2fbc7670.a05e4a","name":"Home_Alarm_ON","property":"Home_Alarm_ON","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":300,"wires":[[]]},{"id":"3a188b83.642b54","type":"change","z":"2fbc7670.a05e4a","name":"string_TO_number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":40,"wires":[[]]},{"id":"4093250e.27c4fc","type":"switch","z":"2fbc7670.a05e4a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Morning","vt":"global"},{"t":"eq","v":"Day","vt":"global"},{"t":"eq","v":"Evening","vt":"global"},{"t":"eq","v":"Night","vt":"global"}],"checkall":"false","repair":false,"outputs":4,"x":410,"y":400,"wires":[[],[],[],[]]},{"id":"494dc2cc.1fd5ac","type":"function","z":"4e2c8d9b.9d5c84","name":"- T_Kof","func":"\nvar kof=global.get('T_Kof')\nmsg.payload = msg.payload  - kof;\nnode.status({fill:\"green\",shape:\"ring\",\"text\": msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":320,"wires":[["dd8bf8e.3ce4308"]]},{"id":"dd8bf8e.3ce4308","type":"switch","z":"4e2c8d9b.9d5c84","name":"FILTR","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"LivingRoom_set_Temperature2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":320,"wires":[["cde2bf72.4f39c","24ee5804.cd7958"]]},{"id":"24ee5804.cd7958","type":"debug","z":"4e2c8d9b.9d5c84","name":"LivingRoom_set_Temperature2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":400,"wires":[]},{"id":"a4b44c95.fb154","type":"trigger","z":"4e2c8d9b.9d5c84","op1":"","op2":"OFF","op1type":"pay","op2type":"str","duration":"5","extend":false,"units":"min","reset":"OFF","bytopic":"all","name":"","x":1650,"y":1200,"wires":[["526c8792.4d4c08"]]},{"id":"5fa0bb17.cc3d74","type":"switch","z":"4e2c8d9b.9d5c84","name":"REGULATOR","property":"LivingRoom_Temperature","propertyType":"flow","rules":[{"t":"lt","v":"LivingRoom_set_Temperature","vt":"flow"}],"checkall":"false","repair":false,"outputs":1,"x":1580,"y":980,"wires":[["17d070ea.64a01f"]]},{"id":"4f105168.baa69","type":"switch","z":"4e2c8d9b.9d5c84","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":1000,"wires":[["5fa0bb17.cc3d74"],["953f9c8a.5f1ed"]]},{"id":"953f9c8a.5f1ed","type":"switch","z":"4e2c8d9b.9d5c84","name":"REGULATOR","property":"LivingRoom_Temperature","propertyType":"flow","rules":[{"t":"gte","v":"LivingRoom_set_Temperature2","vt":"flow"}],"checkall":"false","repair":false,"outputs":1,"x":1580,"y":1020,"wires":[["17d070ea.64a01f"]]},{"id":"5a238adc.cbff14","type":"mqtt in","z":"8bc58de.6c7987","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":1200,"wires":[["720d76f0.34f598"]]},{"id":"eac36686.68e148","type":"switch","z":"8bc58de.6c7987","name":"  ","property":"Home_Rejim","propertyType":"global","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":310,"y":1060,"wires":[["bdf451ff.b6b9c"],["8d3dc7df.3cda78"],["4024eac9.632e94","300284fa.317e1c","94532cb7.1f3ff","c96882f.8f2788"]]},{"id":"720d76f0.34f598","type":"change","z":"8bc58de.6c7987","name":"","rules":[{"t":"set","p":"Home_Rejim","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1200,"wires":[["eac36686.68e148"]]},{"id":"28e3d91f.e767b6","type":"switch","z":"8bc58de.6c7987","name":"holiday","property":"holiday","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":940,"wires":[["bdf451ff.b6b9c"],["8d3dc7df.3cda78"]]},{"id":"333883dd.fed88c","type":"switch","z":"8bc58de.6c7987","name":"holiday","property":"holiday","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":743,"y":900,"wires":[["bdf451ff.b6b9c"],["8d3dc7df.3cda78"]]},{"id":"1b72ec44.2bd1d4","type":"function","z":"7fca8997.78ed68","name":"MainDoor_Switch","func":"var payload = msg.payload;\nvar data = JSON.parse(payload);\n\n\n\nvar battery = null;\nvar voltage = null;\nvar linkquality=null;\nvar click = null;\n\nnode.status({fill:\"grey\",shape:\"ring\",text:\"no state\"});\n\n\n\nif (data.battery) {\n    battery = {\"payload\": data.battery};\n}\nif (data.voltage) {\n    voltage = {\"payload\": data.voltage};\n}\nif (data.linkquality) {\n    linkquality = {\"payload\": data.linkquality};\n}\n\n\n\nif (data.click == \"single\") {\n    click = {\"payload\": \"single\"};\n    node.status({fill:\"red\",shape:\"dot\",text:\"single\"}); \n}\nif (data.click == \"double\") {\n    click = {\"payload\": \"double\"};\n    node.status({fill:\"green\",shape:\"dot\",text:\"double\"}); \n}\nif (data.click == \"long_release\") {\n    click = {\"payload\": \"long\"};\n    node.status({fill:\"blue\",shape:\"dot\",text:\"long\"}); \n}\n\n\n\n\nnode.send([ voltage, linkquality,battery,click]);\n","outputs":4,"noerr":0,"x":410,"y":1960,"wires":[["f84ec089.bf896"],["7345356f.821f0c"],["3c7125e4.57b88a"],["80e4573e.969088","73e144ec.dd234c","e69f27ca.3b18e8"]]},{"id":"634550b3.2ce77","type":"mqtt in","z":"7fca8997.78ed68","name":"","topic":"zigbee2mqtt/MainDoor_Switch","qos":"0","datatype":"auto","broker":"5101c6e3.603738","x":140,"y":1920,"wires":[["1b72ec44.2bd1d4","206657cd.403fb8"]]},{"id":"80e4573e.969088","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/MainDoor_Switch","qos":"0","retain":"true","broker":"5101c6e3.603738","x":740,"y":2080,"wires":[]},{"id":"3c7125e4.57b88a","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_Switch/battery","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1010,"y":2000,"wires":[]},{"id":"f84ec089.bf896","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_Switch/voltage","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":1920,"wires":[]},{"id":"7345356f.821f0c","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Xiaomi/MainDoor_Switch/linkquality","qos":"0","retain":"true","broker":"5101c6e3.603738","x":1020,"y":1960,"wires":[]},{"id":"73e144ec.dd234c","type":"debug","z":"7fca8997.78ed68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":2120,"wires":[]},{"id":"206657cd.403fb8","type":"debug","z":"7fca8997.78ed68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":1860,"wires":[]},{"id":"e69f27ca.3b18e8","type":"switch","z":"7fca8997.78ed68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":490,"y":2220,"wires":[["a59ade5d.87db5"],["20c9c84d.d63378"],["a3286bc0.b83f88"]]},{"id":"a59ade5d.87db5","type":"change","z":"7fca8997.78ed68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2180,"wires":[["d16b8d42.a2cfc"]]},{"id":"a3286bc0.b83f88","type":"change","z":"7fca8997.78ed68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2280,"wires":[["d16b8d42.a2cfc"]]},{"id":"20c9c84d.d63378","type":"change","z":"7fca8997.78ed68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":2220,"wires":[["d16b8d42.a2cfc"]]},{"id":"d16b8d42.a2cfc","type":"mqtt out","z":"7fca8997.78ed68","name":"","topic":"Openhab_VAR/Home/Rejim","qos":"1","retain":"true","broker":"5101c6e3.603738","x":990,"y":2220,"wires":[]},{"id":"c0c69797.2952f8","type":"http request","z":"2fbc7670.a05e4a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.103/modbus&write=0242","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":580,"wires":[["2c9ffd79.68da02"]]},{"id":"c116c97c.fd2438","type":"inject","z":"2fbc7670.a05e4a","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["7bee86a1.689318"]]},{"id":"7bee86a1.689318","type":"http request","z":"2fbc7670.a05e4a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.103/modbus&write=0142","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":540,"wires":[["2c9ffd79.68da02"]]},{"id":"8188452f.54e788","type":"http request","z":"2fbc7670.a05e4a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.103/modbus&write=0342","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":620,"wires":[["2c9ffd79.68da02"]]},{"id":"2c9ffd79.68da02","type":"debug","z":"2fbc7670.a05e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":580,"wires":[]},{"id":"55630753.558e08","type":"inject","z":"2fbc7670.a05e4a","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["c0c69797.2952f8"]]},{"id":"9dc7e4d8.188688","type":"inject","z":"2fbc7670.a05e4a","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["8188452f.54e788"]]},{"id":"3977ff49.9e3db","type":"inject","z":"2fbc7670.a05e4a","name":"RESET","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["4dfcea1c.78acd4"]]},{"id":"4dfcea1c.78acd4","type":"http request","z":"2fbc7670.a05e4a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.103/modbus&write=030600020001","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":680,"wires":[["f46d3d01.d7b6c"]]},{"id":"f46d3d01.d7b6c","type":"debug","z":"2fbc7670.a05e4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":680,"wires":[]},{"id":"733d0b6.d8dbdf4","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":1240,"wires":[[]]},{"id":"129425cf.d961ba","type":"switch","z":"4e2c8d9b.9d5c84","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1840,"y":1180,"wires":[["81052d29.c49fd"],["733d0b6.d8dbdf4"]]},{"id":"81052d29.c49fd","type":"change","z":"4e2c8d9b.9d5c84","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":1140,"wires":[[]]},{"id":"526c8792.4d4c08","type":"delay","z":"4e2c8d9b.9d5c84","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":1080,"wires":[["4f105168.baa69"]]}]